@*@model EasyPro.Models.Drawnstock*@
@model EasyPro.ViewModels.TranssupplyVM.Agrovetsales

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Add Dispatch</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Drawnstock.Date" class="control-label">Date</label>
                                <input type="date" id="date" asp-for="Drawnstock.Date" class="form-control" />
                                <span asp-validation-for="Drawnstock.Date" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Drawnstock.Productid" class="control-label">P Code</label>
                                <input asp-for="Drawnstock.Productid" id="pcode" required class="form-control" />
                                <span asp-validation-for="Drawnstock.Productid" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Drawnstock.Priceeach" class="control-label">Selling Price</label>
                                <input readonly id="sprice" asp-for="Drawnstock.Priceeach" class="form-control" />
                                <span asp-validation-for="Drawnstock.Priceeach" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Drawnstock.Productname" class="control-label">Product name</label>
                                <select asp-for="Drawnstock.Productname" id="pname" class="chzn-select form-control" asp-items="@ViewBag.agproductsall" required></select>
                                <option value=""></option>
                                <span asp-validation-for="Drawnstock.Productname" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Branch From</label>
                                <select asp-for="Drawnstock.BranchF" id="branch" class="chzn-select form-control" asp-items="@ViewBag.brances" required></select>
                                <option value=""></option>
                                <span asp-validation-for="Drawnstock.BranchF" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Branch To</label>
                                <select asp-for="Drawnstock.Branch" id="branch" class="chzn-select form-control" asp-items="@ViewBag.brances" required></select>
                                <option value=""></option>
                                <span asp-validation-for="Drawnstock.Branch" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Drawnstock.Quantity" class="control-label"></label>
                                <input asp-for="Drawnstock.Quantity" id="qnty" class="form-control" required />
                                <span asp-validation-for="Drawnstock.Quantity" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Drawnstock.Description" class="control-label">Description</label>
                                <input asp-for="Drawnstock.Description" autocomplete="off" class="form-control" />
                                <span asp-validation-for="Drawnstock.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Stock Bal</label>
                                <input id="sbal" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#date").val(today); 
            $("#pname").val("");
            $("#branch").val("");
            $(".chzn-select").chosen();
            let saleItems = new Array();
            $('#pname').on('change', function () {
                var products = @Html.Raw(Json.Serialize(Model.AgProductobj));
                 var selectVal = $("#pname").val();
                var selectProducts = products.filter(p => p.PName.trim() === selectVal);
                if (selectProducts[0]) {
                    $("#pcode").val(selectProducts[0].PCode);
                    $("#qnty").val("0");
                    $("#sbal").val(selectProducts[0].OBal);
                    $("#bprice").val(selectProducts[0].Pprice);
                    $("#sprice").val(selectProducts[0].Sprice);
                }
            });
        });
    </script>
}
