@model EasyPro.Models.Drawnstock

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Drawnstock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalamount" class="control-label"></label>
                <input asp-for="Totalamount" class="form-control" />
                <span asp-validation-for="Totalamount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productid" class="control-label"></label>
                <input asp-for="Productid" class="form-control" />
                <span asp-validation-for="Productid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productname" class="control-label"></label>
                <input asp-for="Productname" class="form-control" />
                <span asp-validation-for="Productname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priceeach" class="control-label"></label>
                <input asp-for="Priceeach" class="form-control" />
                <span asp-validation-for="Priceeach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <input asp-for="Branch" class="form-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Buying" class="control-label"></label>
                <input asp-for="Buying" class="form-control" />
                <span asp-validation-for="Buying" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ai" class="control-label"></label>
                <input asp-for="Ai" class="form-control" />
                <span asp-validation-for="Ai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commission" class="control-label"></label>
                <input asp-for="Commission" class="form-control" />
                <span asp-validation-for="Commission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

