@model EasyPro.ViewModels.EnquiryVM.EnquiryVM;
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }
    .divScroll {
        width: 1050px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            
            
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                        <h2>Supplier Enquiry</h2>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                            <div class="form-group ic-cmp-int float-lb floating-lb">
                                <div class="nk-int-st">
                                    <label class="control-label">Zone</label>
                                    <select id="zone" Value="Select Bank" class="form-control" asp-items="@ViewBag.zones" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">sno</label>
                            <input id="sno" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Names</label>
                            <input id="names" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">IdNo</label>
                            <input id="idno" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Phone No</label>
                            <input id="phoneno" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Acc No</label>
                            <input id="accno" autocomplete="off" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Products</label>
                            <select id="bname" class="form-control" asp-for="prod.Bname" asp-items="@ViewBag.products"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Bank</label>
                            <input id="bbranch" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Gross Pay</label>
                            <input id="grosspay" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">NETPAY</label>
                            <input id="netpay" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">DateFro</label>
                            <input id="firstdate" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">DateTo</label>
                            <input id="enddate" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Deductions</label>
                            <input id="totaldeductions" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label"></label>
                            <a id="showtable" class="btn btn-warning">Show</a>
                        </div>
                    </div>
                </div>

                <div class="bsc-tbl-hvr table-border-style">

                    <div class="table-responsive">
                        <div class="divScroll">
                            <table class="table table-hover" id="customers">
                                <tr>
                                    <th>Date</th>
                                    <th>Product Type</th>
                                    <th>Quantity</th>
                                    <th>CR</th>
                                    <th>DR</th>
                                    <th>Balance</th>
                                    <th>Description</th>
                                    <th>Remarks</th>
                                </tr>

                                <tbody id="intakes">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#firstdate").val(today);
            $("#enddate").val(today);
            $("#bname").prop("selectedIndex", -1);
            $("#zone").val('');
            document.getElementById('sno').focus();
            var checkiftoenable = @Html.Raw(Json.Serialize(ViewBag.checkiftoenable));
            if (checkiftoenable === 0) {
                $('#zone1').hide();
            }
            else {
                $('#zone1').show();
            }

            $('#zone').change(function () {
                var selectVal = parseInt($("#sno").val());
                var zoneVal = $("#zone").val();
                getSelectedDateIntakes();
            });
            $('#sno').on('keyup', function () {
                var selectVal = parseInt($("#sno").val());
                var zoneVal = $("#zone").val();
                getSelectedDateIntakes();
            });
            function getSelectedDateIntakes() {
                var suppliers = @Html.Raw(Json.Serialize(ViewBag.suppliers));
                var selectVal = parseInt($("#sno").val());
                var zoneVal = $("#zone").val();
                var sno = $("#sno").val();
                var idno = $("#idno").val();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                var zone = $("#zone").val();
                zone = zone ? zone : "";
                var selectsuppliers = suppliers.filter(p => p.Sno === selectVal && p.Zone === zoneVal);
                if (selectsuppliers[0]) {
                    $("#names").val(selectsuppliers[0].Names);
                    $("#idno").val(selectsuppliers[0].IdNo);
                    $("#phoneno").val(selectsuppliers[0].PhoneNo);
                    $("#accno").val(selectsuppliers[0].AccNo);
                    $("#bbranch").val(selectsuppliers[0].Bbranch);
                    $.ajax({
                        type: 'POST',
                        url: "suppliedProducts?date1=" + date1 + "&date2=" + date2 + "&zone=" + zone,
                        contentType: 'application/json',
                        data: JSON.stringify(selectsuppliers[0]),
                        success: function (response) {
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                }
            }

            

            $("#bname").change(function () {
                var producttype = $("#bname").val();
                var sno = $("#sno").val();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                var zone = $("#zone").val();
                zone = zone ? zone : "";
                $.ajax(
                    {
                        type: 'POST',
                        url: "suppliedProducts?date1=" + date1 + "&date2=" + date2 + "&producttype=" + producttype + "&zone=" + zone,
                        contentType: 'application/json',
                        data: JSON.stringify({ sno: sno }),
                        success: function (response) {
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });

            $("#showtable").click(function () {
                var sno = $("#sno").val();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                var zone = $("#zone").val();
                zone = zone ? zone : "";
                $.ajax(
                    {
                        type: 'POST',
                        url: "suppliedProducts?date1=" + date1 + "&date2=" + date2 + "&zone=" + zone,
                        contentType: 'application/json',
                        data: JSON.stringify({ sno: sno }),
                        success: function (response) {
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });

            function populateIntake(intakes) {
                var selectVal = parseInt($("#sno").val());
                let itemTableRows = new Array();
                intakes.forEach(i => {
                    //debugger;
                    var ddate = i.TransDate;
                    var dd1 = new Date(ddate).toLocaleDateString();
                    itemTableRows.push(`<tr>
                                <td>${dd1}</td>
                                <td>${i.ProductType}</td>
                                <td>${i.Qsupplied}</td>
                                <td>${i.CR}</td>
                                <td>${i.DR}</td>
                                <td>${i.Balance}</td>
                                <td>${i.Description}</td>
                                <td>${i.Remarks}</td>
                            </tr>`)
                    var Total = 0;
                    var Total2 = 0;
                    var netpay = 0;
                    intakes.forEach(i => {
                        var ddr = 0;
                        var ccr = 0;
                        ddr = i.DR;
                        ccr = i.CR;
                        Total2 = Total2 + ddr;
                        Total = Total + ccr;
                        netpay = Total - Total2;

                    });
                    $('#netpay').val(netpay);
                    $('#totaldeductions').val(Total2)
                    $('#grosspay').val(Total)
                });

                $('#intakes').html(itemTableRows);
            }
        });
</script>
}