@model EasyPro.ViewModels.EnquiryVM.EnquiryVM;


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <label class="control-label">sno</label>
                <input id="sno" />
                <span  class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Names</label>
                    <input id="names"/>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">IdNo</label>
                    <input id="idno"  />
                    <span  class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <label class="control-label">Phone No</label>
                <input id="phoneno"  />
                <span  class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Acc No</label>
                    <input id="accno"/>
                    <span  class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Bank</label>
                    <input id="bbranch" />
                    <span  class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <label class="control-label">DateFrom</label>
                <input id="firstdate" value="date"/>
                @*@Html.TextBoxFor(Model=>Model.intakk.TransDate, new {@value=System.DateTime.Now})*@
                <span  class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">DateTo</label>
                    <input id="enddate" value="date"/>
                    <span class="text-danger"></span>
                    <a class="btn-warning btn-success" asp-action="Show">Show</a>
                </div>
            </div>
        </div>
    </div>   
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">NET PAY</label>
                    <input id="netpay"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bsc-tbl-hvr table-border-style">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Product Type</th>
                    <th>Quantity</th>
                    <th>CR</th>
                    <th>DR</th>
                    <th>Balance</th>
                    <th>Description</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody id="intakes">
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>


    </script>
    <script type="text/javascript">

        $(function () {
            var date = new Date();
            var firstDay = new Date(date.getYear(), date.getMonth(), 1);
            var lastDay = new Date(date.getYear(), date.getMonth() +1, 0);
            $("#firstdate").val(firstDay).toLocaleString("dd-MM-yyyy");
            $("#enddate").val(lastDay).toLocaleString("dd-MM-yyyy");
        });
        $(function () {

            $('#sno').on('keyup', function () {
                var suppliers = @Html.Raw(Json.Serialize(ViewBag.suppliers));
                var selectVal = parseInt($("#sno").val());               
              
                var selectsuppliers = suppliers.filter(p => p.Sno === selectVal);
                    if (selectsuppliers[0]) {
                        $("#names").val(selectsuppliers[0].Names);
                        $("#idno").val(selectsuppliers[0].IdNo);
                        $("#phoneno").val(selectsuppliers[0].PhoneNo);
                        $("#accno").val(selectsuppliers[0].AccNo);
                        $("#bbranch").val(selectsuppliers[0].Bbranch);
                        $.ajax({
                            type: 'POST',
                            url: `suppliedProducts`,
                            contentType: 'application/json',
                            data: JSON.stringify(selectsuppliers[0]),
                            success: function (response) {
                                //if (response.Success) {
                                    
                                //}
                                populateIntake(response)
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                    }
            });
           
            function populateIntake(intakes) {
                var selectVal = parseInt($("#sno").val());
                let itemTableRows = new Array();
                intakes.forEach(i => {

                    itemTableRows.push(`<tr>
				        <td>${i.TransDate}</td>                        
                        <td>${i.ProductType}</td>
                        <td>${i.Qsupplied}</td>
                        <td>${i.CR}</td>
                        <td>${i.DR}</td>
                        <td>${i.Balance}</td>
                        <td>${i.Description}</td>
                        <td>${i.Remarks}</td>
			        </tr>`)
                });

                //var cr = Number(ParseFloat($(i., this).text()));
                //var dr = Number(ParseFloat($('.dr', this).text()));
                //var sum =$(this).closest('tr').prev('tr').find('.total', this).text();
                $('#intakes').html(itemTableRows);
                $('#netpay').val(intakes[0].Balance);
            }
        });
    </script>
}