@model EasyPro.ViewModels.EnquiryVM.EnquiryVM;


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <label class="control-label">sno</label>
                <input id="sno" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Names</label>
                    <input id="names" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">IdNo</label>
                    <input id="idno" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Products</label>
                    <select id="bname" asp-for="prod.Bname" asp-items="@ViewBag.products"></select>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <label class="control-label">Phone No</label>
                <input id="phoneno" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Acc No</label>
                    <input id="accno" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Bank</label>
                    <input id="bbranch" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Gross Pay</label>
                    <input id="grosspay" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <label class="control-label">DateFro</label>
                <input id="firstdate" type="text" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">DateTo</label>
                    <input id="enddate" type="text" />
                    <span class="text-danger"></span>
                    <a id="showtable" class="btn-warning btn-success">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">NETPAY</label>
                    <input id="netpay" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="form-group ic-cmp-int float-lb floating-lb">
            <div class="nk-int-st">
                <div class="form-group">
                    <label class="control-label">Deductions</label>
                    <input id="totaldeductions" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bsc-tbl-hvr table-border-style">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Date</th>
                <th>Product Type</th>
                <th>Quantity</th>
                <th>CR</th>
                <th>DR</th>
                <th>Balance</th>
                <th>Description</th>
                <th>Remarks</th>
            </tr>
            <tbody id="intakes">
            </tbody>
        </table>
    </div>
</div>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">*@
<link href="~/css/jquery-ui.css" rel="stylesheet" />
@section Scripts {

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>*@

    <script type="text/javascript">
       /* const { Doc } = require("codemirror");*/


        $(function () {

            var date = new Date();

            var firstDay = new Date(date.getFullYear(), date.getMonth(), 1).toLocaleDateString();
            var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).toLocaleDateString();
            $("#firstdate").val(firstDay);
            $("#enddate").val(lastDay);
            $("#bname").prop("selectedIndex", -1);
        });
        $(function () {
            $("#firstdate").datepicker();
        });
        $(function () {
            $("#enddate").datepicker();
        });

         $(function () {

             $("#showtable").click(function () {
                var sno = $("#sno").val();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                    $.ajax(
                        {
                            type: 'POST',
                            url: "SuppliedProducts3?sno="+sno+"&date1="+date1+"&date2="+date2+"",
                            contentType: 'application/json',
                            data: JSON.stringify(),
                            success: function (response) {
                                //if (response.Success) {

                                //}
                                populateIntake3(response)
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                });
            function populateIntake3(intakes) {

                var selectVal = parseInt($("#sno").val());
                let itemTableRows = new Array();
                intakes.forEach(i => {
                    //debugger;
                    var ddate = i.TransDate;
                    var dd1 = new Date(ddate).toLocaleDateString();
                    itemTableRows.push(`<tr>
				        <td>${dd1}</td>
                        <td>${i.ProductType}</td>
                        <td>${i.Qsupplied}</td>
                        <td>${i.CR}</td>
                        <td>${i.DR}</td>
                        <td>${i.Balance}</td>
                        <td>${i.Description}</td>
                        <td>${i.Remarks}</td>
			        </tr>`)
                    var Total = 0;
                    var Total2 = 0;
                    var netpay = 0;
                    intakes.forEach(i => {
                        var ddr = 0;
                        var ccr = 0;
                        ddr = i.DR;
                        ccr = i.CR;
                        Total2 = Total2 + ddr;
                        Total = Total + ccr;
                        netpay = Total - Total2;

                    });
                    $('#netpay').val(netpay);
                    $('#totaldeductions').val(Total2)
                    $('#grosspay').val(Total)
                });

                $('#intakes').html(itemTableRows);
            }
            });
        $(function () {

            $("#bname").change(function () {
                var producttype = $("#bname").val();
                var sno = $("#sno").val();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                    $.ajax(
                        {
                            type: 'POST',
                            url: "SuppliedProducts2?sno="+sno+"&producttype="+producttype+"&date1="+date1+"&date2="+date2+"",
                            contentType: 'application/json',
                            data: JSON.stringify(),
                            success: function (response) {
                                //if (response.Success) {

                                //}
                                populateIntake2(response)
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                });
            function populateIntake2(intakes) {

                var selectVal = parseInt($("#sno").val());
                let itemTableRows = new Array();
                intakes.forEach(i => {
                    //debugger;
                    var ddate = i.TransDate;
                    var dd1 = new Date(ddate).toLocaleDateString();
                    itemTableRows.push(`<tr>
				        <td>${dd1}</td>
                        <td>${i.ProductType}</td>
                        <td>${i.Qsupplied}</td>
                        <td>${i.CR}</td>
                        <td>${i.DR}</td>
                        <td>${i.Balance}</td>
                        <td>${i.Description}</td>
                        <td>${i.Remarks}</td>
			        </tr>`)
                    var Total = 0;
                    var Total2 = 0;
                    var netpay = 0;
                    intakes.forEach(i => {
                        var ddr = 0;
                        var ccr = 0;
                        ddr = i.DR;
                        ccr = i.CR;
                        Total2 = Total2 + ddr;
                        Total = Total + ccr;
                        netpay = Total - Total2;

                    });
                    $('#netpay').val(netpay);
                    $('#totaldeductions').val(Total2)
                    $('#grosspay').val(Total)
                });

                $('#intakes').html(itemTableRows);
            }
            });
        $(function () {

            $('#sno').on('keyup', function () {
                var suppliers = @Html.Raw(Json.Serialize(ViewBag.suppliers));
                debugger;
                var selectVal = parseInt($("#sno").val());
                var sno = $("#sno").val();
                var idno = $("#idno").val();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                var selectsuppliers = suppliers.filter(p => p.Sno === selectVal);
                    if (selectsuppliers[0]) {
                        $("#names").val(selectsuppliers[0].Names);
                        $("#idno").val(selectsuppliers[0].IdNo);
                        $("#phoneno").val(selectsuppliers[0].PhoneNo);
                        $("#accno").val(selectsuppliers[0].AccNo);
                        $("#bbranch").val(selectsuppliers[0].Bbranch);
                        $.ajax({
                            type: 'POST',
                            url: "suppliedProducts?date1="+date1+"&date2="+date2+"",
                            contentType: 'application/json',
                            data: JSON.stringify(selectsuppliers[0]),
                            success: function (response) {
                                //if (response.Success) {

                                //}
                                populateIntake(response)
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                    }
            });

            function populateIntake(intakes) {

                var selectVal = parseInt($("#sno").val());
                let itemTableRows = new Array();
                intakes.forEach(i => {
                    //debugger;
                    var ddate = i.TransDate;
                    var dd1=new Date(ddate).toLocaleDateString();
                    itemTableRows.push(`<tr>
				        <td>${dd1}</td>
                        <td>${i.ProductType}</td>
                        <td>${i.Qsupplied}</td>
                        <td>${i.CR}</td>
                        <td>${i.DR}</td>
                        <td>${i.Balance}</td>
                        <td>${i.Description}</td>
                        <td>${i.Remarks}</td>
			        </tr>`)
                    var Total = 0;
                    var Total2 = 0;
                    var netpay = 0;
                    intakes.forEach(i => {
                        var ddr = 0;
                        var ccr = 0;
                        ddr = i.DR;
                        ccr = i.CR;
                        Total2 = Total2 + ddr;
                        Total = Total + ccr;
                        netpay = Total - Total2;

                    });
                    $('#netpay').val(netpay);
                    $('#totaldeductions').val(Total2)
                    $('#grosspay').val(Total)
                });

                $('#intakes').html(itemTableRows);
            }
        });
    </script>
}