@model EasyPro.ViewModels.EnquiryVM.TransportersEnquiryVM
@{
    ViewData["Title"] = "Transporters";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }
    .divScroll {
        width: 1000px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Transporter Enquiry</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Transporter</label>
                                <select id="sno" class="chzn-select form-control" asp-items="@ViewBag.codes">
                                    <option value=""></option>
                                </select>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Names</label>
                                    <input id="names" autocomplete="off" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">IdNo</label>
                                    <input id="idno" autocomplete="off" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Phone No</label>
                                <input id="phoneno" autocomplete="off" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">BName</label>
                                <input id="bname" autocomplete="off" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Acc No</label>
                                    <input id="accno" autocomplete="off" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">BBranch</label>
                                    <input id="bbranch" autocomplete="off" class="form-control" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Gross Pay</label>
                                    <input id="grosspay" class="form-control text-green" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">NETPAY</label>
                                    <input id="netpay" class="form-control text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Deductions</label>
                                    <input id="totaldeductions" class="form-control text-blue" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Total Quantity</label>
                                    <input id="totalQty" class="form-control text-blue" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="FilterVm.DateFrom" class="control-label"></label>
                                <input id="firstdate" class="form-control" type="date" />
                                <span asp-validation-for="FilterVm.DateFrom" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="FilterVm.DateTo" class="control-label"></label>
                                <input id="enddate" class="form-control" type="date" />
                                <span asp-validation-for="FilterVm.DateTo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="control-label"></label>
                        <a id="showtable" class="btn btn-warning">Show</a>
                    </div>
                </div>
                <div class="bsc-tbl-hvr table-border-style">
                    <div class="table-responsive">
                        <div class="divScroll">
                            <table class="table table-hover" id="customers">
                                <tr>
                                    <th>Date</th>
                                    <th>Product Type</th>
                                    <th>Quantity</th>
                                    <th>CR</th>
                                    <th>DR</th>
                                    <th>Balance</th>
                                    <th>Description</th>
                                    <th>Remarks</th>
                                </tr>
                                <tbody id="intakes">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function ()
        {
            $(".chzn-select").chosen();
            var today = new Date().toISOString().split('T')[0];
            $("#firstdate").val(today);
            $("#enddate").val(today);

            $("#showtable").click(function () {
                $('#totalQty').val('');
                $('#netpay').val('');
                $('#totaldeductions').val('')
                $('#grosspay').val('')
                var sno = $("#sno").val().toUpperCase();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                $.ajax(
                    {
                    type: 'POST',
                    url: "SuppliedProductsTransporter?sno=" + sno + "&date1=" + date1 + "&date2=" + date2 + "",
                    contentType: 'application/json',
                    data: JSON.stringify(),
                    success: function (response) {
                       populateIntake(response)
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            $('#sno').on('change', function () {
                let isSlopes = '@ViewBag.slopes' === 'True';
                var transporters = @Html.Raw(Json.Serialize(ViewBag.transporters));
                var selectVal = $("#sno").val().toUpperCase();
                var sno = $("#sno").val().toUpperCase();
                var idno = $("#idno").val();
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                var selectTransporters = transporters.filter(p => p.TransCode === selectVal);
                if (isSlopes){
                    selectTransporters = transporters.filter(p => p.CertNo === selectVal);
                }
                    
                if (selectTransporters[0]) {
                    $("#names").val(selectTransporters[0].TransName);
                    $("#idno").val(selectTransporters[0].CertNo);
                    $("#phoneno").val(selectTransporters[0].Phoneno);
                    $("#bname").val(selectTransporters[0].Bcode);
                    $("#accno").val(selectTransporters[0].Accno);
                    $("#bbranch").val(selectTransporters[0].Bbranch);
                    $.ajax({
                        type: 'POST',
                        url: "SuppliedProductsTransporter?sno=" + sno + "&date1=" + date1 + "&date2=" + date2 + "",
                        contentType: 'application/json',
                        data: JSON.stringify(selectsuppliers[0]),
                        success: function (response) {
                            //if (response.Success) {

                            //}
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                }
            });

            function populateIntake(intakes) {
                let selectVal = $("#sno").val().toUpperCase();
                let itemTableRows = new Array();
                let grossPay = 0;
                let deductions = 0;
                let totalQty = 0;

                intakes.forEach(i => {
                    let ddate = i.TransDate;
                    let dd1 = new Date(ddate).toLocaleDateString();
                    itemTableRows.push(`<tr>
				        <td>${dd1}</td>
                        <td>${i.ProductType}</td>
                        <td>${i.Qsupplied.toFixed(2)}</td>
                        <td>${i.CR.toFixed(2)}</td>
                        <td>${i.DR.toFixed(2)}</td>
                        <td>${i.Balance.toFixed(2)}</td>
                        <td>${i.Description}</td>
                        <td>${i.Remarks}</td>
			        </tr>`);

                    deductions += i.DR;
                    grossPay += i.CR;
                    totalQty += i.Qsupplied;
                });
                let netpay = grossPay - deductions;
                $('#totalQty').val(totalQty.toFixed(2));
                $('#netpay').val(netpay.toFixed(2));
                $('#totaldeductions').val(deductions.toFixed(2))
                $('#grosspay').val(grossPay.toFixed(2))
                $('#intakes').html(itemTableRows);
            }
        });
    </script>
}
