@model EasyPro.Models.CInvoice

@{
    ViewData["Title"] = "CreateInvoice";
}


<div class="row">
    <div class="col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create</h2>
            </div>
            <hr />
            <form asp-action="CreateInvoice">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Customer" class="control-label"></label>
                            <input asp-for="Customer" class="form-control" />
                            <span asp-validation-for="Customer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Ref" class="control-label"></label>
                            <input asp-for="Ref" class="form-control" />
                            <span asp-validation-for="Ref" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" class="form-control" type="date"/>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="DueDate" class="control-label"></label>
                            <input asp-for="DueDate" class="form-control" />
                            <span asp-validation-for="DueDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Journal" class="control-label"></label>
                            <input asp-for="Journal" class="form-control" />
                            <span asp-validation-for="Journal" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="NetAmount" class="control-label"></label>
                            <input asp-for="NetAmount" class="form-control" />
                            <span asp-validation-for="NetAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Tax" class="control-label"></label>
                            <input asp-for="Tax" class="form-control" />
                            <span asp-validation-for="Tax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="TotalAmount" class="control-label"></label>
                            <input asp-for="TotalAmount" class="form-control" />
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Arrears" class="control-label"></label>
                            <input asp-for="Arrears" class="form-control" />
                            <span asp-validation-for="Arrears" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PaymentReference" class="control-label"></label>
                            <input asp-for="PaymentReference" class="form-control" />
                            <span asp-validation-for="PaymentReference" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="SalesPerson" class="control-label"></label>
                            <input asp-for="SalesPerson" class="form-control" />
                            <span asp-validation-for="SalesPerson" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="RecipientBank" class="control-label"></label>
                            <input asp-for="RecipientBank" class="form-control" />
                            <span asp-validation-for="RecipientBank" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="IncoTerm" class="control-label"></label>
                            <input asp-for="IncoTerm" class="form-control" />
                            <span asp-validation-for="IncoTerm" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="FiscalPosition" class="control-label"></label>
                            <input asp-for="FiscalPosition" class="form-control" />
                            <span asp-validation-for="FiscalPosition" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        
                    </div>
                    <div class="col-sm-6 col-xs-12">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a asp-action="GetInvoices" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}