@model EasyPro.Models.CreditNote

<div class="row">
    <div class="col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create</h2>
            </div>
            <hr />
            <form asp-action="CreateCreditNote">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Customer" class="control-label"></label>
                            <select asp-for="Customer" class="form-control" asp-items="@ViewBag.customers"></select>
                            <span asp-validation-for="Customer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                         <div class="form-group">
                            <label class="control-label">Product</label>
                            <select id="product" asp-for="Ref" class="form-control" asp-items="@ViewBag.productNames">
                                <option value="" disabled selected hidden>Please Choose...</option>
                            </select>
                            <span asp-validation-for="Ref" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                       <div class="form-group">
                            <label asp-for="InvoiceDate" class="control-label"></label>
                            <input asp-for="InvoiceDate" class="form-control" type="date"/>
                            <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="DueDate" class="control-label"></label>
                            <input asp-for="DueDate" class="form-control" type="date"/>
                            <span asp-validation-for="DueDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                       <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="PaymentReference" class="control-label"></label>
                            <input asp-for="PaymentReference" class="form-control" />
                            <span asp-validation-for="PaymentReference" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                       <div class="form-group">
                            <label class="control-label">Amount</label>
                            <input asp-for="NetAmount" class="form-control" />
                            <span asp-validation-for="NetAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Tax" class="control-label"></label>
                            <input asp-for="Tax" class="form-control" />
                            <span asp-validation-for="Tax" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                            <label asp-for="FiscalPosition" class="control-label"></label>
                            <input asp-for="FiscalPosition" class="form-control" />
                            <span asp-validation-for="FiscalPosition" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                       <div class="form-group">
                            <label asp-for="SalesPerson" class="control-label"></label>
                            <input asp-for="SalesPerson" class="form-control" />
                            <span asp-validation-for="SalesPerson" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                       <div class="form-group">
                            <label asp-for="IncoTerm" class="control-label"></label>
                            <input asp-for="IncoTerm" class="form-control" />
                            <span asp-validation-for="IncoTerm" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a asp-action="GetCreditNotes" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}