@model EasyPro.ViewModels.FilterVm
@{
    ViewData["Title"] = "DownloadPReport";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Suppliers Payroll Report</h3>
                </div>
                <form autocomplete="off" asp-controller="Report" asp-antiforgery="true" asp-action="SuppliersPayrollExcel" method="post">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <label asp-for="DateFrom" class="control-label"></label>
                                <input required asp-for="DateFrom" class="form-control" type="date" />
                                <span asp-validation-for="DateFrom" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <label asp-for="DateTo" class="control-label"></label>
                                <input required asp-for="DateTo" class="form-control" type="date" />
                                <span asp-validation-for="DateTo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body register-card-body">
                        <div class="form-row">
                            <button type="submit" id="btnsubmit" class="btn btn-success">Export to Excel</button>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Transporters Payroll Report</h3>
                </div>
                <form autocomplete="off" asp-controller="Report" asp-antiforgery="true" asp-action="TDeductions" method="post">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <label asp-for="DateFrom" class="control-label"></label>
                                <input required asp-for="DateFrom" class="form-control" type="date" />
                                <span asp-validation-for="DateFrom" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <label asp-for="DateTo" class="control-label"></label>
                                <input required asp-for="DateTo" class="form-control" type="date" />
                                <span asp-validation-for="DateTo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body register-card-body">
                        <div class="form-row">
                            <button type="submit" id="btnsubmit" class="btn btn-success">Export to Excel</button>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

