@model EasyPro.ViewModels.FilterVm
@{
    ViewData["Title"] = "DownloadReport";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Suppliers Register Report</h3>
                </div>
                <div class="card-body register-card-body">
                    <div class="form-row">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <form asp-controller="Report" asp-antiforgery="true" asp-action="Suppliers" method="post">
                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </form>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <form asp-controller="Report" asp-antiforgery="true" asp-action="SuppliersPdf" method="post">
                                    <button type="submit" class="btn btn-info">Export to PDF</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="Card">
                <div class="card-header">
                    <h3 class="card-title">Active Suppliers Report</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="SuppliersActive" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateFrom" class="control-label"></label>
                                        <input id="active_supplier_from" asp-for="DateFrom" class="form-control" type="date" />
                                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                                    </div>
                                   
                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateTo" class="control-label"></label>
                                        <input id="active_supplier_to" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>

                                    <a id="active_supplier_pdf" class="btn btn-info">Export to PDF</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="Card">
                <div class="card-header">
                    <h3 class="card-title">Inactive Suppliers Report</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="SuppliersInActive" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <div class="form-group">
                                        <label asp-for="DateFrom" class="control-label"></label>
                                        <input id="inactive_supplier_from" asp-for="DateFrom" class="form-control" type="date" />
                                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>
                                
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateTo" class="control-label"></label>
                                        <input id="inactive_supplier_to" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>

                                    <a id="inactive_supplier_pdf" class="btn btn-info">Export to PDF</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="row"></div>
    <br />
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Suppliers Deduction Report</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="Deductions" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateFrom" class="control-label"></label>
                                        <input id="supplier_ded_from" asp-for="DateFrom" class="form-control" type="date" />
                                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateTo" class="control-label"></label>
                                        <input id="supplier_ded_to" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>

                                    <a id="supplier_ded_pdf" class="btn btn-info">Export to PDF</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Suppliers Shares Deduction Report</h3>
                </div>
                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="SharesDeductions" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="County" class="control-label"></label>
                                        <select asp-for="County" class="form-control" asp-items="@ViewBag.county"></select>
                                        <span asp-validation-for="County" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <br />
    <hr />
    <div class="row"></div>
    <br />
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#active_supplier_from").val(today);
            $("#active_supplier_to").val(today);
            $("#inactive_supplier_from").val(today);
            $("#inactive_supplier_to").val(today);
            $("#supplier_intake_from").val(today);
            $("#supplier_intake_to").val(today);
            $("#supplier_ded_from").val(today);
            $("#supplier_ded_to").val(today);
            $("#branch_sup_intake_from").val(today);
            $("#branch_sup_intake_to").val(today);

            $('#active_supplier_pdf').on('click', function () {
                let from = $("#active_supplier_from").val();
                let to = $("#active_supplier_to").val();
                var filter = {
                    dateFrom: from,
                    dateTo: to,
                };
                $.ajax({
                    type: 'POST',
                    url: "SuppliersActivePdf",
                    contentType: 'application/json',
                    data: JSON.stringify(filter),
                    success: function (response) {
                        if (response.isRedirect) {
                            window.open(response.redirectUrl);
                        }
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            $('#inactive_supplier_pdf').on('click', function () {
                let from = $("#inactive_supplier_from").val();
                let to = $("#inactive_supplier_to").val();
                var filter = {
                    dateFrom: from,
                    dateTo: to,
                };
                $.ajax({
                    type: 'POST',
                    url: "SuppliersInActivePdf",
                    contentType: 'application/json',
                    data: JSON.stringify(filter),
                    success: function (response) {
                        if (response.isRedirect) {
                            window.open(response.redirectUrl);
                        }
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            $('#supplier_intake_pdf').on('click', function () {
                let from = $("#supplier_intake_from").val();
                let to = $("#supplier_intake_to").val();
                var filter = {
                    dateFrom: from,
                    dateTo: to,
                };
                $.ajax({
                    type: 'POST',
                    url: "IntakePdf",
                    contentType: 'application/json',
                    data: JSON.stringify(filter),
                    success: function (response) {
                        if (response.isRedirect) {
                            window.open(response.redirectUrl);
                        }
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            $('#supplier_ded_pdf').on('click', function () {
                let from = $("#supplier_ded_from").val();
                let to = $("#supplier_ded_to").val();
                var filter = {
                    dateFrom: from,
                    dateTo: to,
                };
                $.ajax({
                    type: 'POST',
                    url: "DeductionsPdf",
                    contentType: 'application/json',
                    data: JSON.stringify(filter),
                    success: function (response) {
                        if (response.isRedirect) {
                            window.open(response.redirectUrl);
                        }
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            $('#branch_sup_intake_pdf').on('click', function () {
                let from = $("#branch_sup_intake_from").val();
                let to = $("#branch_sup_intake_to").val();
                let branch = $("#branch").val();
                var filter = {
                    dateFrom: from,
                    dateTo: to,
                    branch: branch
                };
                $.ajax({
                    type: 'POST',
                    url: "BranchIntakePdf",
                    contentType: 'application/json',
                    data: JSON.stringify(filter),
                    success: function (response) {
                        if (response.isRedirect) {
                            window.open(response.redirectUrl);
                        }
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });
        });
    </script>
}