@model EasyPro.ViewModels.FilterVm
@{
    ViewData["Title"] = "DownloadPReport";
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Farmers Genaral Payroll Report</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="SuppliersPayrollExcel" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateFrom" class="control-label"></label>
                                        <input id="sup_payroll_from" asp-for="DateFrom" class="form-control" type="date" />
                                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateTo" class="control-label"></label>
                                        <input id="sup_payroll_to" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>
                                    <a id="sup_payroll_pdf" class="btn btn-info">Export to PDF</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Transporters Payroll Report</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="TransportersPayrollExcel" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateFrom" class="control-label"></label>
                                        <input id="trans_payrol_from" asp-for="DateFrom" class="form-control" type="date" />
                                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateTo" class="control-label"></label>
                                        <input id="trans_payrol_to" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>

                                    <a id="trans_payrol_pdf" class="btn btn-info">Export to PDF</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Payroll Report Per Banks</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="SuppliersPayrollDetail" method="post">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Select Bank</label>
                                        <select id="bank" asp-for="BankName" class="form-control" asp-items="@ViewBag.bankname" required>
                                            <option value="General"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateFrom" class="control-label"></label>
                                        <input id="bank_pay_from" asp-for="DateFrom" class="form-control" type="date" />
                                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>
                                
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="DateTo" class="control-label"></label>
                                        <input id="bank_pay_to" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>
                                    <a id="bank_payroll_pdf" class="btn btn-info">Export to PDF</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Combined summary</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="PayCombinedSummaryExcel" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <input id="combined_summary_date" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>
                                
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label"> </label>
                                        <input class="form-control" disabled/>
                                    </div>
                                    <a id="combined_summary_pdf" class="btn btn-info">Export to PDF</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">MILK DELIVERIES SUMMARY REPORT</h3>
                </div>

                <div class="card-body register-card-body">
                    <div class="form-row">
                        <form asp-controller="Report" asp-antiforgery="true" asp-action="PayExpenseCombinedSummaryExcel" method="post">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <input id="combined_deliveries_date" asp-for="DateTo" class="form-control" type="date" />
                                        <span asp-validation-for="DateTo" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-success">Export to Excel</button>
                                </div>

                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label"> </label>
                                        <input class="form-control" disabled />
                                    </div>
                                    @* <a id="combined_summary_pdf" class="btn btn-info">Export to PDF</a> *@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script type="text/javascript">
            $(function () {
                var today = new Date().toISOString().split('T')[0];
                $("#sup_payroll_from").val(today);
                $("#sup_payroll_to").val(today);
                $("#trans_payrol_from").val(today);
                $("#trans_payrol_to").val(today);
                $("#bank_pay_from").val(today);
                $("#bank_pay_to").val(today);
                $("#combined_summary_date").val(today);

                $('#combined_summary_pdf').on('click', function () {
                    let to = $("#combined_summary_date").val();

                    var filter = {
                        dateTo: to,
                    };
                    $.ajax({
                        type: 'POST',
                        url: "PayCombinedSummaryPdf",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            if (response.isRedirect) {
                                window.open(response.redirectUrl);
                            }
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                });

                $('#sup_payroll_pdf').on('click', function () {
                    let from = $("#sup_payroll_from").val();
                    let to = $("#sup_payroll_to").val();

                    var filter = {
                        dateFrom: from,
                        dateTo: to,
                    };
                    $.ajax({
                        type: 'POST',
                        url: "BankPayrollPdf",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            if (response.isRedirect) {
                                window.open(response.redirectUrl);
                            }
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                });

                $('#trans_payrol_pdf').on('click', function () {
                    let from = $("#trans_payrol_from").val();
                    let to = $("#trans_payrol_to").val();

                    var filter = {
                        dateFrom: from,
                        dateTo: to,
                    };
                    $.ajax({
                        type: 'POST',
                        url: "TransportersPayrollPdf",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            if (response.isRedirect) {
                                window.open(response.redirectUrl);
                            }
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                });

                $('#bank_payroll_pdf').on('click', function () {
                    let from = $("#bank_pay_from").val();
                    let to = $("#bank_pay_to").val();
                    let bank = $("#bank").val();

                    var filter = {
                        dateFrom: from,
                        dateTo: to,
                        bankName: bank
                    };
                    $.ajax({
                        type: 'POST',
                        url: "BankPayrollPdf",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            if (response.isRedirect) {
                                window.open(response.redirectUrl);
                            }
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                });
            
            });
        </script>
    }
