@model EasyPro.Models.TransportersBalancing
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
        .divScroll {
            width: 1000px;
            height: 200px;
            overflow: auto;
        }
    </style>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-element-list mg-t-30">
                <div class="cmp-tb-hd">
                    <h2>Transporters Balancing Form</h2>
                </div>
                <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            @if (ViewBag.isElburgon)
                            {
                                <div class="form-group">
                                    <input id="Shares" type="checkbox" />
                                    <label class="control-label" for="print">Individual</label>
                                </div>
                            }
                        </div>
                        <div class="col-sm-5 col-xs-12">

                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <input id="date" asp-for="Date" class="form-control" type="date" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Select Transporter</label>
                                    <select id="name" class="chzn-select form-control" asp-items="@ViewBag.Transporterslist">
                                        <option value=""></option>
                                    </select>
                                    <span asp-validation-for="Transporter" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">TCode</label>
                                    <input id="tcode" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <a id="show" class="btn btn-success">Show</a>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <a id="excel" class="btn btn-success">Export Excel</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bsc-tbl-hvr table-border-style">
                                    <div class="divScroll">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="tbl_journal">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Supplier No.
                                                        </th>
                                                        <th>
                                                            Date
                                                        </th>
                                                        <th>
                                                            Product Type
                                                        </th>
                                                        <th>
                                                            Quantity
                                                        </th>
                                                        <th>
                                                            @ViewBag.remarks
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="balance">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Total Kgs</label>
                                    <input id="totalkgs" asp-for="Quantity" class="form-control" readonly />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Actual Kgs</label>
                                    <input id="actual" asp-for="ActualBal" class="form-control" />
                                    <span asp-validation-for="ActualBal" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Varriance</label>
                                    <input id="varriance" asp-for="Varriance" class="form-control" readonly />
                                    <span asp-validation-for="Varriance" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Spillage Kgs</label>
                                    <input id="spillage" asp-for="Spillage" class="form-control" />
                                    <span asp-validation-for="Spillage" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Rejects Kgs</label>
                                    <input id="rejects" asp-for="Rejects" class="form-control" />
                                    <span asp-validation-for="Rejects" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input id="print" type="checkbox" />
                                    <label class="control-label" for="print">Print</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a id="save" class="btn btn-success">Save</a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                            </div>
                        </div>
</form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
<script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            var today = new Date().toISOString().split('T')[0];
            let isSlopes = '@ViewBag.slopes' === 'True';
            $("#date").val(today);
            let suppliedItems = new Array();
            let print = false;
            let individual = false;
            $('#name').on('change', function () {
                var suppliers = @Html.Raw(Json.Serialize(ViewBag.agproductsall));
                var selectVal = $("#name").val();
                var selectSupplier = suppliers.filter(p => (p.TransName.trimRight() === selectVal.trimRight()) || (p.TransName.trimLeft() === selectVal.trimLeft()));
                if(isSlopes){
                    selectSupplier = suppliers.filter(p => p.CertNo === selectVal);
                }
                
                if (selectSupplier[0]) {
                    $("#tcode").val(selectSupplier[0].TransCode);
                }
            }); 

            $('input[type="checkbox"]').click(function () {
                if ($(this).prop("checked") && $(this).attr('id') == 'Shares') {
                    individual = true;
                } else {
                    individual = false;
                }
            });

            $('input[type="checkbox"]').click(function () {
                if ($(this).prop("checked") && $(this).attr('id') == 'print') {
                    print = true;
                } else {
                    print = false;
                }
            });

            $('#show').on('click', function () {
                var filter = {
                    date: $("#date").val(),
                    tcode: $("#tcode").val(),
                };
                $("#totalkgs").val('0');
                $("#actual").val("0");
                $.ajax({
                    type: 'POST',
                    url: "getSuppliedItems",
                    contentType: 'application/json',
                    data: JSON.stringify(filter),
                    success: function (response) {
                        suppliedItems = response.intakes ? response.intakes : [];
                        $("#actual").val(response.suppliersdeliveries);
                        populateDetailsTable();
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            $('#excel').on('click', function () {
                let date = $("#date").val() ? $("#date").val() : "";
                let transporter = $("#name").val() ? $("#name").val() : "";
                let fileName = `${transporter} ${date}`;
                $('#tbl_journal').table2excel({ 
                    filename: fileName, 
                    fileext: ".xls",
                    name: transporter,
                });
            });

            $('#save').on('click', function () {
                var variance = {
                    date: $("#date").val(),
                    transporter: $("#tcode").val(),
                    quantity: $("#totalkgs").val(),
                    actualBal: $("#actual").val(),
                    rejects: $("#rejects").val(),
                    spillage: $("#spillage").val(),
                    varriance: $("#varriance").val()
                };

                $.ajax({
                    type: 'POST',
                    url: "saveVariance?print=" + print + "&individual=" + individual,
                    contentType: 'application/json',
                    data: JSON.stringify(variance),
                    success: function (response) {
                        $("#actual").val(0)
                        $("#name").val("")
                        $("#tcode").val("")
                        $("#varriance").val(0)
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

            function populateDetailsTable() {
                let itemTableRows = new Array();
                let totalQnty = 0;
                $("#balance").empty();
                suppliedItems.forEach(j => {
                    var date = j.TransDate;
                    var dd1 = new Date(date).toLocaleDateString();
                    itemTableRows.push(`<tr>
				            <td>'${j.Sno}</td>
                            <td>${dd1}</td>
                            <td>${j.ProductType}</td>
                            <td>${j.Qsupplied}</td>
                            <td>${j.Remarks}</td>
			            </tr>`);

                    totalQnty += j.Qsupplied;
                });
                var totalkgs = Math.round(Number(totalQnty) * 10) / 10;
                totalkgs = totalkgs + "";
                if (totalkgs.indexOf('.') == -1) {
                    totalkgs = totalkgs + '.0';
                }
                $("#totalkgs").val(totalkgs + "");
                $('#balance').html(itemTableRows);
                populateVariance();
            }

            $('#actual').on('keyup', function () {
                populateVariance();
            });

            function populateVariance() {
                let actual = parseFloat($("#actual").val());
                let total = parseFloat($("#totalkgs").val());
                actual = actual ? actual : 0;
                total = total ? total : 0;
                let variance = actual - total;
                variance = variance.toFixed(2);
                var totalvariancekgs = Math.round(Number(variance) * 10) / 10;
                totalvariancekgs = totalvariancekgs + "";
                if (totalvariancekgs.indexOf('.') == -1) {
                    totalvariancekgs = totalvariancekgs + '.0';
                }
                $("#varriance").val(totalvariancekgs);
            }
        });
</script>
    }
