@model EasyPro.Models.TransportersBalancing
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
        .divScroll {
            width: 1000px;
            height: 200px;
            overflow: auto;
        }
    </style>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-element-list mg-t-30">
                <div class="cmp-tb-hd">
                    <h2>Transporters Balancing Form</h2>
                </div>
                <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-8 col-xs-12">

                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <input id="date" asp-for="Date" class="form-control" type="date" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Select Transporter</label>
                                <select id="name" class="form-control" asp-items="@ViewBag.Transporterslist">
                                    <option value="" disabled selected hidden>Please Choose...</option>
                                </select>
                                <span asp-validation-for="Transporter" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">TCode</label>
                                <input id="tcode" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a id="show" class="btn btn-success">Show</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bsc-tbl-hvr table-border-style">
                                <div class="divScroll">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="customers">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Supplier No.
                                                    </th>
                                                    <th>
                                                        Date
                                                    </th>
                                                    <th>
                                                        Product Type
                                                    </th>
                                                    <th>
                                                        Quantity
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="balance">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Total Kgs</label>
                                <input id="totalkgs" asp-for="Quantity" class="form-control" readonly />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Actual Kgs</label>
                                <input id="actual" asp-for="ActualBal" class="form-control" />
                                <span asp-validation-for="ActualBal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Varriance</label>
                                <input id="varriance" asp-for="Varriance" class="form-control" readonly />
                                <span asp-validation-for="Varriance" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Spillage Kgs</label>
                                <input id="spillage" asp-for="Spillage" class="form-control" />
                                <span asp-validation-for="Spillage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Rejects Kgs</label>
                                <input id="rejects" asp-for="Rejects" class="form-control" />
                                <span asp-validation-for="Rejects" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a id="save" class="btn btn-success">Save</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
<script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#date").val(today);
            let suppliedItems = new Array();
            var checkiftoenable = @Html.Raw(Json.Serialize(ViewBag.checkiftoenable));
            if (checkiftoenable === 0) {
                $("#actual").prop('disabled', false);
            }
            else {
                $("#actual").prop('disabled', true);
            }
            
            $('#name').on('click', function () {
                var suppliers = @Html.Raw(Json.Serialize(ViewBag.agproductsall));
                var selectVal = $("#name").val();
                var selectSupplier = suppliers.filter(p => p.TransName === selectVal);
                if (selectSupplier[0]) {
                    $("#tcode").val(selectSupplier[0].TransCode);
                }
            });

            function populateDetailsTableupdate() {
                $("#totalkgs").val('');
            }

            $('#show').on('click', function () {
                populateDetailsTableupdate();
                var filter = {
                    date: $("#date").val(),
                    tcode: $("#tcode").val(),

                };
                $("#actual").val("0");
                $.ajax({
                    type: 'POST',
                    url: "getSuppliedItems",
                    contentType: 'application/json',
                    data: JSON.stringify(filter),
                    success: function (response) {
                        suppliedItems = response.intakes ? response.intakes : [];
                        $("#actual").val(response.suppliersdeliveries);
                        populateDetailsTable();
                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });


            $('#spillage').on('keyup', function () {
                var variance = (parseFloat($("#actual").val()) + parseFloat($("#spillage").val()) + parseFloat($("#rejects").val())) - parseFloat($("#totalkgs").val());
                $("#varriance").val(variance);
            });
            $('#rejects').on('keyup', function () {
                var variance = (parseFloat($("#actual").val()) + parseFloat($("#spillage").val()) + parseFloat($("#rejects").val())) - parseFloat($("#totalkgs").val());
                $("#varriance").val(variance);
            });

            $('#save').on('click', function () {
                var variance = {
                    date: $("#date").val(),
                    transporter: $("#tcode").val(),
                    quantity: $("#totalkgs").val(),
                    actualBal: $("#actual").val(),
                    rejects: $("#rejects").val(),
                    spillage: $("#spillage").val(),
                    varriance: $("#varriance").val()
                };

                $.ajax({
                    type: 'POST',
                    url: "saveVariance",
                    contentType: 'application/json',
                    data: JSON.stringify(variance),
                    success: function (response) {

                    },
                    failure: function (response) {
                    }
                }).then(function () {
                    // ...
                });
            });

           

            function populateDetailsTable() {
                let itemTableRows = new Array();
                let totalQnty = 0;
                $("#balance").empty();
                suppliedItems.forEach(j => {
                    itemTableRows.push(`<tr>
				            <td>${j.Sno}</td>
                            <td>${j.TransDate}</td>
                            <td>${j.ProductType}</td>
                            <td>${j.Qsupplied}</td>
			            </tr>`);

                    totalQnty += j.Qsupplied;
                });
                $("#totalkgs").val(totalQnty);
                $('#balance').html(itemTableRows);

            }
            $('#actual').on('keyup', function () {
                var variance = (parseFloat($("#actual").val()) + parseFloat($("#spillage").val()) + parseFloat($("#rejects").val())) - parseFloat($("#totalkgs").val());
                $("#varriance").val(variance);
            });
        });
</script>
    }
