<!-- Start Email Statistic area-->
<div class="notika-email-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="email-statis-inner notika-shadow">
                    <div class="email-ctn-round">
                        <div class="email-rdn-hd">
                            <h2>Today's Statistics</h2>
                        </div>
                        <div class="email-round-gp">
                            @foreach (var product in ViewBag.intakeStatistics)
                            {
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="@product.Rate" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>@product.Name</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                    <div class="rc-it-ltd">
                        <div class="recent-items-ctn">
                            <div class="recent-items-title">
                                <h2>Statistics</h2>
                            </div>
                        </div>
                        <div class="recent-items-inn">
                            <table class="table table-inner table-vmiddle">
                                <thead>
                                    
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Suppliers</td>
                                        <td>@ViewBag.suppliers</td>
                                        <td><a asp-controller="DSuppliers" asp-action="Index">More</a></td>
                                    </tr>
                                    <tr>
                                        <td>Transporters</td>
                                        <td>@ViewBag.transporters</td>
                                        <td><a asp-controller="DTransporters" asp-action="Index">More</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Email Statistic area-->