@model IEnumerable<EasyPro.Models.Drawnstock>

@{
    ViewData["Title"] = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1050px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                        
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <h1>Drawnstock Report</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">DateFro</label>
                            <input id="firstdate" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">DateTo</label>
                            <input id="enddate" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">---</label>
                            <a id="showtable" class="btn btn-warning">Show</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="col-sm-4 col-xs-12">
                            <label class="control-label">--</label>
                            <a id="excel_report" class="btn btn-success w3-circle">Export Excel</a>
                        </div>
                        <div class="col-sm-4 col-xs-12"></div>
                        <div class="col-sm-4 col-xs-12">
                            <label class="control-label">--</label>
                            <a id="print_report" class="btn btn-success w3-circle">Print Report</a>
                        </div>
                    </div>
                        <div class="col-sm-2 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">---</label>
                                <a asp-controller="AgrovetStockReceive" asp-action="DefaultIndex" class="btn btn-info">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="bsc-tbl-hvr table-border-style">
                        <div class="table-responsive">
                            <div class="divScroll">
                                <table class="table table-hover" id="customers">
                                    <tr id="com"><th></th><th colspan="4" id="company"></th></tr>
                                    <tr id="htitl"><th></th> <th colspan="4"> <strong>STORE DRAWNSTOCK REPORT</strong></th></tr>
                                    <tr id="hstartd"><th></th><th colspan="4" id="sema"></th>  </tr>
                                    <tr id="huser"><th></th><th colspan="4" hidden id="user"></th>  </tr>
                                    <tr id="her"><th colspan="7"><hr /></th></tr>
                                    <tr>
                                        <th>Date</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Buying Price</th>
                                        <th>Selling Price</th>
                                        <th>Description</th>
                                        <th>User</th>
                                        <th>From</th>
                                        <th>To</th>
                                    </tr>
                                    <tbody id="intakes">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#firstdate").val(today);
            $("#enddate").val(today);
            $("#com").hide();
            $("#htitl").hide();
            $("#hstartd").hide();
            $("#huser").hide();
            $("#her").hide();

             function heading()
            {
                var  company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var  user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" +  date10  + "  TO  :" + date20 ;
                var usa = "Printed By  :" + user ;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user').html(itemTableRows2);
                }
            $('#print_report').on('click', function () {
                $("#com").show();
                $("#htitl").show();
                $("#hstartd").show();
                $("#huser").show();
                $("#her").show();
                heading();
                var divToPrint = document.getElementById("customers");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com").hide();
                $("#htitl").hide();
                $("#hstartd").hide();
                $("#huser").hide();
                $("#her").hide();
            });

            $('#excel_report').on('click', function () {
                var  company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var  user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" +  date10  + "  TO  :" + date20 ;
                var usa = "Printed By  :" + user ;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user').html(itemTableRows2);
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `Drawnstock Report ${date}`;
                $('#customers').table2excel({ filename: fileName, fileext: ".xls" });
            });
            $("#showtable").click(function () {
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                var zone = $("#zone").val();
                zone = zone ? zone : "";
                $.ajax(
                    {
                        type: 'POST',
                        url: "suppliedProducts?date1=" + date1 + "&date2=" + date2,
                        contentType: 'application/json',
                        success: function (response) {
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });

            function populateIntake(intakes) {
                let itemTableRows = new Array();
                intakes.forEach(i => {
                    //debugger;
                    var ddate = i.Date;
                    var dd1 = new Date(ddate).toLocaleDateString();
                    itemTableRows.push(`<tr>
                                <td>${dd1}</td>
                                <td>${i.Productname}</td>
                                <td>${i.Quantity}</td>
                                <td>${i.Buying}</td>
                                <td>${i.Selling}</td>
                                <td>${i.Description}</td>
                                <td>${i.Username}</td>
                                <td>${i.BranchF}</td>
                                <td>${i.Branch}</td>
                            </tr>`)
                });

                $('#intakes').html(itemTableRows);
            }
        });
</script>
}