@model EasyPro.Models.AgProduct

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Add Product</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="DateEntered" class="control-label">Date</label>
                                <input type="date" asp-for="DateEntered" class="form-control" />
                                <span asp-validation-for="DateEntered" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="PName" class="control-label">Name</label>
                                <input asp-for="PName" required class="form-control" />
                                <span asp-validation-for="PName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="PCode" class="control-label"></label>
                                <input readonly asp-for="PCode" class="form-control" />
                                <span asp-validation-for="PCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="SupplierId" class="control-label">Supplier</label>
                                <select asp-for="SupplierId" id="pname" class="form-control" asp-items="@ViewBag.suppliers" required></select>
                                <span asp-validation-for="SupplierId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Qin" class="control-label">Quantity</label>
                                <input required asp-for="Qin" class="form-control" />
                                <span asp-validation-for="Qin" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="OBal" class="control-label">Balance</label>
                                <input readonly asp-for="OBal" class="form-control" />
                                <span asp-validation-for="OBal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Pprice" class="control-label">Buying Price</label>
                                <input required asp-for="Pprice" class="form-control" />
                                <span asp-validation-for="Pprice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Sprice" class="control-label">Selling Price</label>
                                <input required asp-for="Sprice" class="form-control" />
                                <span asp-validation-for="Sprice" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Expirydate" class="control-label"></label>
                                <input type="date" asp-for="Expirydate" class="form-control" />
                                <span asp-validation-for="Expirydate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Draccno" class="control-label"></label>
                                <select id="draccno" asp-for="Draccno" class="form-control" asp-items="@ViewBag.glAccounts">
                                    <option value="" disabled selected hidden>Please select</option>
                                </select>
                                <span asp-validation-for="Draccno" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="Craccno" class="control-label"></label>
                                <select id="craccno" asp-for="Craccno" class="form-control" asp-items="@ViewBag.glAccounts">
                                    <option value="" disabled selected hidden>Please select</option>
                                </select>
                                <span asp-validation-for="Craccno" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#date").val(today);
            $("#pname").val("");
            $("#draccno").val("");
            $("#craccno").val("");
        });
    </script>
}
