@model EasyPro.ViewModels.SupplierSummeryVm

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <form asp-controller="Report" asp-action="ExportAllSuppliers">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h3 class="text-danger fa-bold">Suppliers Summery</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label asp-for="County" class="control-label"></label>
                            <select id="showtable" asp-for="County" class="chzn-select form-control" asp-items="@ViewBag.counties">
                                <option value="" disabled selected hidden>Please Choose...</option>
                            </select>
                            <span asp-validation-for="County" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button class="btn btn-success" type="submit">Export All to Excel</button>
                    </div>
                </div>
            </form>

            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <div>
                        @* <strong>Total Suppliers:</strong>
                        <span>@Model.TotalSupplies</span>
                        &nbsp; &nbsp; &nbsp;
                        <strong>Male:</strong>
                        <span>@Model.TotalMale</span>
                        &nbsp; &nbsp; &nbsp;
                        <strong>Female</strong>
                        <span>@Model.TotalFemale</span> *@
                    </div>
                    @* @foreach (var county in Model.countySuppliers)
                    { *@
                    <div class="row">
                        <hr />
                        <strong>County:</strong>
                        <span><input id="suplc" /></span>
                        <strong>Suppliers:</strong>
                        <span><input id="supl" /></span>
                        <strong>Male:</strong>
                        <span><input id="suplm" /></span>
                        <strong>Female:</strong>
                        <span><input id="suplf" /></span>
                    </div> <hr />

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    POs
                                </th>
                                <th>
                                    Suppliers
                                </th>
                                <th>
                                    Male
                                </th>
                                <th>
                                    Female
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="geeks">
                        </tbody>
                    </table>
                    @* } *@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            $("#showtable").on('change', function () {
                getSelectedDateIntakes1();
            });
            function getSelectedDateIntakes1() {
                var county = $('#showtable').val();

                $.ajax(
                    {
                        type: 'post',
                        url: "getcountydetails?county=" + county,
                        contentType: 'application/json',
                        success: function (response) {
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {

                    });
            }
            function populateIntake(intake) {
                let itemTableRows = new Array();
                var county = intake.county;
                var allsup = intake.supplierSummery.TotalSupplies;
                var malesup = intake.supplierSummery.TotalMale;
                var femalesup = intake.supplierSummery.TotalFemale;
                $("#suplc").val(county);
                $("#supl").val(allsup);
                $("#suplm").val(malesup);
                $("#suplf").val(femalesup);
                intake.saccoSuppliers.forEach(i => {
                    itemTableRows.push(`<tr>
                                                    <td>${i.Sacco}</td>
                                                    <td>${i.Suppliers}</td>
                                                    <td>${i.Male.toFixed(2)}</td>
                                                    <td>${i.Female.toFixed(2)}</td>
                                        </tr>`)
                });

                $('#geeks').html(itemTableRows);

            }
        });
    </script>
}

