@model IEnumerable<EasyPro.ViewModels.EmpEmployeePayrollVM>

@{
    ViewData["Title"] = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #4cff00;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1110px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-sm-4 col-xs-7">
                    <h3 class="text-danger fa-bold">Employees Payroll</h3>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Ending Month</label>
                        <input id="startDate" type="date" class="form-control" />
                    </div>
                </div>
                
                <div class="col-sm-2 col-xs-3">
                    <label class="control-label">---------</label>
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <label class="control-label">--------</label>
                    <a id="excel_report" class="btn btn-success w3-circle">Export Excel</a>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <label class="control-label">--------</label>
                    <a id="print_report" class="btn btn-success w3-circle">Print Report</a>
                </div>
            </div>
            <div class="bsc-tbl-hvr table-border-style">
                <div class="divScroll">
                    <div class="table-responsive">
                        <table class="table table-hover" id="customers">
                            <thead>
                                <tr id="com"><th></th><th colspan="4" id="company"></th></tr>
                                <tr id="htitl"><th></th> <th colspan="4"> <strong>STAFF PAYROLL REPORT</strong></th></tr>
                                <tr id="hstartd"><th></th><th colspan="4" id="sema"></th>  </tr>
                                <tr id="huser"><th></th><th colspan="4" hidden id="user"></th>  </tr>
                                <tr id="companyname"><th></th><th colspan="4">Amtech Technologies ltd</th>  </tr>
                                <tr id="her"><th colspan="7"><hr /></th></tr>
                                <tr>
                                    <th>
                                        EmpNo
                                    </th>
                                    <th>
                                        Emp Name
                                    </th>
                                    <th>
                                       Basic Salary
                                    </th>
                                    <th>
                                        Allowance
                                    </th>
                                    <th>
                                        Other Allowance
                                    </th>
                                    <th>
                                        Gross
                                    </th>
                                    <th>
                                        NHIF
                                    </th>
                                    <th>
                                       NSSF
                                    </th>
                                    <th>
                                       PAYE
                                    </th>
                                    <th>
                                        STORE
                                    </th>
                                    <th>
                                        ADVANCE
                                    </th>
                                    <th>
                                       LOAN
                                    </th>
                                    <th>
                                        MILKRECOVERY
                                    </th>
                                    <th>
                                       SAVINGS
                                    </th>
                                    <th>
                                       OTHER DEDUCTIONS
                                    </th>
                                    <th>
                                        TOTAL DEDUCTIONS
                                    </th>
                                    <th>
                                       NETPAY
                                    </th>
                                    <th>
                                        ENDING MONTH
                                    </th>
                                    <th>
                                        User
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="intakes">
                               
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <label class="control-label">Total Amount</label>
                        <input value="0" id="Tsell" class="form-control" readonly />
                    </div>
                    <div class="col-sm-4 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#startDate").val(today);
            $("#com").hide();
            $("#htitl").hide();
            $("#hstartd").hide();
            $("#huser").hide();
            $("#her").hide();
            $("#companyname").hide();
            getpayroll();
            $('#startDate').on('change', function () {
                getpayroll();
            });
            function heading() {
                var company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = $("#firstdate").val();
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#enddate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = "FROM  :" + date10 + "  TO  :" + date20;
                var usa = "Printed By  :" + user;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema').html(itemTableRows1);
                itemTableRows2.push(`${usa}`);
                $('#user').html(itemTableRows2);
            }
            $('#excel_report').on('click', function () {
                heading();

                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `Staff Payroll Report ${date}`;
                $('#customers').table2excel({ filename: fileName, fileext: ".xls" });
            });
            $('#print_report').on('click', function () {
                $("#com").show();
                $("#htitl").show();
                $("#hstartd").show();
                $("#huser").show();
                $("#her").show();
                $("#companyname").show();
                heading();
                var divToPrint = document.getElementById("customers");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com").hide();
                $("#htitl").hide();
                $("#hstartd").hide();
                $("#huser").hide();
                $("#her").hide();
                $("#companyname").hide();
            });
            function getpayroll() {
                var startDate = $("#startDate").val();
                $.ajax(
                    {
                        type: 'POST',
                        url: `getPayroll?endDate=${startDate}`,
                        contentType: 'application/json',
                        success: function (response) {
                            response = response ? response : []
                            populateSummary(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            }
            function populateSummary(summary) {
                let itemTableRows = new Array();
                $('#Tsell').val('0');
                let Tselling = 0;
                summary.forEach(i => {
                    Tselling +=i.NETPAY;
                    let dd1 = new Date(i.ENDINGMONTH).toLocaleDateString();
                    itemTableRows.push(`<tr>
                                <td>${i.EmpNo}</td>
                                <td>${i.Name}</td>
                                <td>${i.Basic}</td>
                                <td>${i.Allowance}</td>
                                <td>${i.OtherAllowance}</td>
                                <td>${i.Gross}</td>
                                <td>${i.NHIF}</td>
                                <td>${i.NSSF}</td>
                                <td>${i.PAYE}</td>
                                <td>${i.STORE}</td>
                                <td>${i.ADVANCE}</td>
                                <td>${i.LOAN}</td>
                                <td>${i.MILKRECOVERY}</td>
                                <td>${i.SAVINGS}</td>
                                <td>${i.OTHERDED}</td>
                                <td>${i.TOTALDED}</td>
                                <td>${i.NETPAY}</td>
                                <td>${dd1}</td>
                                <td>${i.User}</td>
                            </tr>`)
                });

                $('#Tsell').val(Tselling);
                $('#intakes').html(itemTableRows);
            }
        });
    </script>
    }
