<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1050px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <h1 style="text-align-last:center">Payroll Report</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">DateFrom</label>
                            <input id="firstdate" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">DateTo</label>
                            <input id="enddate" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                            <label class="control-label">----</label>
                            <a id="showtable" class="btn btn-warning">Show</a>
                    </div>
                    <div class="col-sm-1 col-xs-12">
                            <a asp-controller="PayrollReprt" asp-action="DefaultIndex" class="btn btn-info">Back</a>
                    </div>
                    <div class="col-sm-1 col-xs-12">
                        <a id="download" class="btn btn-info">Download</a>
                    </div>
                </div>
                <div class="bsc-tbl-hvr table-border-style">
                    <div class="table-responsive">
                        <div class="divScroll">
                            <table class="table table-hover" id="customers">
                                <tr>
                                    <th>Date</th>
                                    <th>Code</th>
                                    <th>Product</th>
                                    <th>SNo</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    <th>TransBy</th>
                                    <th>User</th>
                                    <th>Branch</th>
                                </tr>
                                <tbody id="intakes">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">

                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label class="control-label">Total SPrice</label>
                            <input value="0" id="Tselling" class="form-control" readonly />
                        </div>
                        <div class="col-sm-4 col-xs-12">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var today = new Date().toISOString().split('T')[0];
            $("#firstdate").val(today);
            $("#enddate").val(today);
            $("#download").click(function () {
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                $.ajax(
                    {
                        type: 'POST',
                        url: "/Report/SuppliersPayrollExcel?DateFrom=" + date1 + "&DateTo=" + date2,
                        contentType: 'application/json',
                    }).then(function () {
                        // ...
                    });
            });
            $("#showtable").click(function () {
                var date1 = $("#firstdate").val();
                var date2 = $("#enddate").val();
                var zone = $("#zone").val();
                zone = zone ? zone : "";
                $.ajax(
                    {
                        type: 'POST',
                        url: "Supplierpayroll?date1=" + date1 + "&date2=" + date2,
                        contentType: 'application/json',
                        success: function (response) {
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
            });

            function populateIntake(intakes) {
                let itemTableRows = new Array();
                intakes.forEach(i => {
                    var type = "All";
                    itemTableRows.push(`<tr>
                                <td>${i.EndofPeriod}</td>
                                <td>${i.Sno}</td>
                                <td>${i.Names}</td>
                                <td>${i.Branch}</td>
                                <td>${i.KgsSupplied}</td>
                                <td>${i.Gpay}</td>
                                <td>${i.Agrovet}</td>
                                <td>${i.Tmshares}</td>
                                <td>${i.Fsa}</td>
                                <td>${i.Hshares}</td>
                                <td>${i.Advance}</td>
                                <td>${i.AI}</td>
                                <td>${i.Others}</td>
                                <td>${i.Tractor}</td>
                                <td>${i.CLINICAL}</td>
                                <td>${i.CurryForward}</td>
                                <td>${i.Tdeductions}</td>
                                <td>${i.Npay}</td>
                                <td>${i.Bank}</td>
                                <td>${i.AccountNumber}</td>
                                <td>${i.Bbranch}</td>
                                <td>${type}</td>
                            </tr>`)
                });

                $('#intakes').html(itemTableRows);
            }
        });
    </script>
}

