<div class="row">
    <div class="tabs-info-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="widget-tabs-int">
                        <div class="tab-hd">
                            <h3 class="text-danger fa-bold">FLMD</h3>
                        </div>
                        <div class="widget-tabs-list">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">SNO</label>
                                        <input id="sno" autocomplete="off" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#animals">Domestic Animals</a></li>
                                <li><a data-toggle="tab" href="#crops">Crops Grown</a></li>
                                <li><a data-toggle="tab" href="#education">Children Education Level</a></li>
                                <li><a data-toggle="tab" href="#lands">Land Ownership</a></li>
                            </ul>
                            <div class="tab-content tab-custom-st">
                                <div id="animals" class="tab-pane fade in active">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-5 col-xs-12">
                                                    <h3 class="text-danger fa-bold">Animals</h3>
                                                </div>
                                                <div class="col-sm-7 col-xs-12">

                                                </div>
                                            </div>

                                            <form asp-action="Create">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Exotic Cattle</label>
                                                            <input id="exotic_cattle" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Indigenous Cattle</label>
                                                            <input id="indigenous_cattle" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Indigenous chicken</label>
                                                            <input id="indigenous_chicken" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Sheep</label>
                                                            <input id="sheep" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Goats</label>
                                                            <input id="goats" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Camels</label>
                                                            <input id="camels" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Donkeys</label>
                                                            <input id="donkeys" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Pigs</label>
                                                            <input id="pigs" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Bee-hives</label>
                                                            <input id="bee_hives" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <a id="save_animal" class="btn btn-success">Save</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div id="crops" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-5 col-xs-12">
                                                    <h3 class="text-danger fa-bold">Crops</h3>
                                                </div>
                                                <div class="col-sm-7 col-xs-12">

                                                </div>
                                            </div>

                                            <form asp-action="Create">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Cash crops</label>
                                                            <input id="cash_crops" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Consumer crops</label>
                                                            <input id="consumer_crops" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Fruits and vegetables</label>
                                                            <input id="vegetables" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Animal feeds</label>
                                                            <input id="accNo" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <a id="save_crop" class="btn btn-success">Save</a>
                                                    </div>
                                                </div>
                                            </form>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Cash Crops</th>
                                                            <th>Consumer Crops</th>
                                                            <th>Vegetables</th>
                                                            <th>Animal Feeds</th>
                                                        </tr>

                                                        <tbody id="crop_details">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="education" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-5 col-xs-12">
                                                    <h3 class="text-danger fa-bold">Education Level</h3>
                                                </div>
                                                <div class="col-sm-7 col-xs-12">

                                                </div>
                                            </div>

                                            <form asp-action="Create">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Boys</label>
                                                            <input id="boys" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Girls</label>
                                                            <input id="girls" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Deaths</label>
                                                            <input id="deaths" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Disabled</label>
                                                            <input id="disabled" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Post graduates</label>
                                                            <input id="post_graduates" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Graduates</label>
                                                            <input id="graduates" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Under graduates</label>
                                                            <input id="under_graduates" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Secondary</label>
                                                            <input id="secondary" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Primary</label>
                                                            <input id="primary" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Nursery</label>
                                                            <input id="nursery" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <a id="save_education" class="btn btn-success">Save</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div id="lands" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-5 col-xs-12">
                                                    <h3 class="text-danger fa-bold">Land</h3>
                                                </div>
                                                <div class="col-sm-7 col-xs-12">

                                                </div>
                                            </div>

                                            <form asp-action="Create">
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Location</label>
                                                            <input id="location" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Plot number</label>
                                                            <input id="plot_number" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Total acres</label>
                                                            <input id="total_acres" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Acres under crops</label>
                                                            <input id="acres_crops" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Acres under building</label>
                                                            <input id="acres_building" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Acres under livestock</label>
                                                            <input id="acres_livestock" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Acres of unused land</label>
                                                            <input id="acres_unused_land" autocomplete="off" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                        <a id="save_lands" class="btn btn-success">Save</a>
                                                    </div>
                                                </div>
                                            </form>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Location</th>
                                                            <th>Plot Number</th>
                                                            <th>Total Acres</th>
                                                            <th>Acres Crops</th>
                                                            <th>Acres Building</th>
                                                            <th>Acres Livestock</th>
                                                            <th>acres Unused Land</th>
                                                        </tr>

                                                        <tbody id="land_details">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
            $(function () {
                let crops = new Array();
                let lands = new Array();
                let sno = $("#sno").val();
                $('#save_animal').on('click', function () {
                    var animal = {
                        exoticCattle: $("#exotic_cattle").val(),
                        indigenousCattle: $("#indigenous_cattle").val(),
                        indigenousChicken: $("#indigenous_chicken").val(),
                        sheep: $("#sheep").val(),
                        goats: $("#goats").val(),
                        camels: $("#camels").val(),
                        donkeys: $("#donkeys").val(),
                        pigs: $("#pigs").val(),
                        beeHives: $("#bee_hives").val()
                    };

                    if (animal.exoticCattle || animal.indigenousCattle || animal.indigenousChicken || animal.sheep || animal.goats
                    || animal.camels || animal.donkeys || animal.pigs || animal.beeHives) {
                        $.ajax({
                            type: 'POST',
                            url: "updateAnimals?sno="+sno,
                            contentType: 'application/json',
                            data: JSON.stringify(animal),
                            success: function (response) {
                                $("#exotic_cattle").val(0);
                                $("#indigenous_cattle").val(0);
                                $("#indigenous_chicken").val(0);
                                $("#sheep").val(0);
                                $("#goats").val(0);
                                $("#camels").val(0);
                                $("#donkeys").val(0);
                                $("#pigs").val(0);
                                $("#bee_hives").val(0);
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                    }
                });

                $('#save_crop').on('click', function () {
                    var crop = {
                        cashCrops: $("#cash_crops").val(),
                        consumerCrops: $("#consumer_crops").val(),
                        vegetables: $("#vegetables").val(),
                        animalFeeds: $("#animal_feeds").val(),
                    };

                    if (crop.cashCrops || crop.consumerCrops || crop.vegetables || crop.animalFeeds) {
                        $.ajax({
                            type: 'POST',
                            url: "updateCrops?sno="+sno,
                            contentType: 'application/json',
                            data: JSON.stringify(crop),
                            success: function (response) {
                                $("#cash_crops").val('');
                                $("#consumer_crops").val('');
                                $("#vegetables").val('');
                                $("#animal_feeds").val('');

                                crops = response ? response : [];
                                populateCropTable();
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                    }
                });

                $('#save_education').on('click', function () {
                    var education = {
                        boys: $("#boys").val(),
                        girls: $("#girls").val(),
                        deaths: $("#deaths").val(),
                        disabled: $("#disabled").val(),
                        postGraduates: $("#post_graduates").val(),
                        graduates: $("#graduates").val(),
                        underGraduates: $("#under_graduates").val(),
                        secondary: $("#secondary").val(),
                        primary: $("#primary").val(),
                        nursery: $("#nursery").val()
                    };

                    if (education.boys || education.girls || education.deaths || education.disabled, education.postGraduates
                    || education.graduates || education.underGraduates || education.secondary || education.primary || education.nursery) {
                        $.ajax({
                            type: 'POST',
                            url: "updateEducation?sno="+sno,
                            contentType: 'application/json',
                            data: JSON.stringify(education),
                            success: function (response) {
                                $("#boys").val(0);
                                $("#girls").val(0);
                                $("#deaths").val(0);
                                $("#disabled").val(0);
                                $("#post_graduates").val(0);
                                $("#graduates").val(0);
                                $("#under_graduates").val(0);
                                $("#secondary").val(0);
                                $("#primary").val(0);
                                $("#nursery").val(0);
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                    }

                });

                $('#save_lands').on('click', function () {
                    var land = {
                        location: $("#location").val(),
                        plotNumber: $("#plot_number").val(),
                        totalAcres: $("#total_acres").val(),
                        acresCrops: $("#acres_crops").val(),
                        acresBuilding: $("#acres_building").val(),
                        acresLivestock: $("#acres_livestock").val(),
                        acresUnusedLand: $("#acres_unused_land").val()
                    };

                    if (crop.cashCrops || crop.consumerCrops || crop.vegetables || crop.animalFeeds) {
                        $.ajax({
                            type: 'POST',
                            url: "updateLand?sno="+sno,
                            contentType: 'application/json',
                            data: JSON.stringify(land),
                            success: function (response) {
                                $("#location").val('');
                                $("#plot_number").val('');
                                $("#total_acres").val(0);
                                $("#acres_crops").val(0);
                                $("#acres_building").val(0);
                                $("#acres_livestock").val(0);
                                $("#acres_unused_land").val(0);

                                lands = response ? response : [];
                                populateLandTable();
                            },
                            failure: function (response) {
                            }
                        }).then(function () {
                            // ...
                        });
                    }
                });

                function populateCropTable() {
                    let itemTableRows = new Array();
                    crops.forEach(j => {
                        itemTableRows.push(`<tr>
				            <td>${j.CashCrops}</td>
				            <td>${j.ConsumerCrops}</td>
				            <td>${j.Vegetables}</td>
				            <td>${j.AnimalFeeds}</td>
			            </tr>`);
                    });

                    $('#crop_details').html(itemTableRows);
                }

                function populateLandTable() {
                    let itemTableRows = new Array();
                    lands.forEach(j => {
                        itemTableRows.push(`<tr>
				            <td>${j.Location}</td>
				            <td>${j.PlotNumber}</td>
				            <td>${j.TotalAcres}</td>
				            <td>${j.AcresCrops}</td>
				            <td>${j.AcresBuilding}</td>
				            <td>${j.AcresLivestock}</td>
				            <td>${j.acresUnusedLand}</td>
			            </tr>`);
                    });

                    $('#land_details').html(itemTableRows);
                }
            });
</script>
}
