@model EasyPro.ViewModels.TranssupplyVM.TransSuppliers

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Assign Transporters</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label asp-for="DTransport.producttype" class="control-label">Product Type</label>
                                <select asp-for="DTransport.producttype" class="form-control" asp-items="@ViewBag.producttypes" required>
                                    <option value="" disabled selected hidden>Please Choose...</option>
                                </select>
                                <span asp-validation-for="DTransport.producttype" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Assignment Date</label>
                                    <input type="date" asp-for="DTransport.Startdate" class="form-control" required />
                                    <span asp-validation-for="DTransport.Startdate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="DTransport.TransCode" class="control-label"></label>
                                    <input id="tcode" asp-for="DTransport.TransCode" class="form-control" required />
                                    <span asp-validation-for="DTransport.TransCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Transporter Name</label>
                                    <input id="tname" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="DTransport.Sno" class="control-label"></label>
                                    <input id="sno" asp-for="DTransport.Sno" class="form-control" required />
                                    <span asp-validation-for="DTransport.Sno" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Name</label>
                                    <input id="sname" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="DTransport.Rate" class="control-label"></label>
                                    <input asp-for="DTransport.Rate" class="form-control" required />
                                    <span asp-validation-for="DTransport.Rate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <input asp-for="DTransport.Active" type="checkbox" />
                                    <label asp-for="DTransport.Active" class="control-label"></label>
                                    <span asp-validation-for="DTransport.Active" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
                    $(function () {
                        $('#tcode').on('keyup', function () {
                            var products = @Html.Raw(Json.Serialize(Model.DTransporter));
                            var selectVal = $("#tcode").val();
                            var selectProducts = products.filter(p => p.TransCode === selectVal);
                                if (selectProducts[0]) {
                                    $("#tname").val(selectProducts[0].TransName);
                                }
                        });
                        $('#sno').on('keyup', function () {
                            var products = @Html.Raw(Json.Serialize(Model.DSuppliers));
                            var selectVal = parseInt($("#sno").val());
                            var selectProducts = products.filter(p => p.Sno === selectVal);
                                if (selectProducts[0]) {
                                    $("#sname").val(selectProducts[0].Names);
                                }
                        });
                    });
    </script>
}
