@model IEnumerable<EasyPro.ViewModels.SharesReportVM>

@{
    ViewData["Title"] = "Index";
}
<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1050px;
        height: 200px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <form asp-action="SharesIndex">
                <div class="row">
                    <div class="col-sm-6 col-xs-12" id="zone1">
                        <h1 style="text-align-last:center">Shares Report</h1>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Share Type</label>
                            <select id="shares" class="chzn-select form-control" asp-items="@ViewBag.shares">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Branch</label>
                            <select id="branch" class="chzn-select form-control" asp-items="@ViewBag.branches">
                                <option>ALL Branches</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Date To</label>
                            <input id="firstdate" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12"></div>
                    <div class="col-sm-3 col-xs-12">
                        <label class="control-label">---------------------</label>
                        <a id="excel_report" class="btn btn-success w3-circle">Export Excel</a>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <label class="control-label">---------------------</label>
                        <a id="print_report" class="btn btn-success w3-circle">Print Report</a>
                    </div>
                </div>
                
                <div class="bsc-tbl-hvr table-border-style">
                    <div class="table-responsive">
                        <div class="divScroll">
                            <table class="table table-hover" id="tbl_rep_report">
                                <tr id="com"><th colspan="4" id="company"></th></tr>
                                <tr id="htitl"><th colspan="4"> <strong>All Shares Report</strong></th></tr>
                                <tr id="hstartd"><th colspan="4" id="sema"></th>  </tr>
                                <tr id="huser"><th colspan="4" hidden id="user"></th>  </tr>
                                <tr><th colspan="7"><hr /></th></tr>
                                <tr>
                                    <th>Sno</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>IDNo</th>
                                    <th>Phone</th>
                                    <th>Shares</th>
                                    <th>Year Of Completion</th>
                                    <th>Branch</th>
                                </tr>
                                <tbody id="intakes">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <label class="control-label">Total Shares</label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="w3-text-blue e-bold">
                                <input id="amount" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $("#com").hide();
            $("#htitl").hide();
            $("#hstartd").hide();
            $("#huser").hide();
            $("#amount").val(0);
            $(".chzn-select").chosen();
            var today = new Date().toISOString().split('T')[0];
            $("#firstdate").val(today);
            $('#firstdate').on('keyup', function () {
                getsharesreport();
            });
            $('#firstdate').on('click', function () {
                getsharesreport();
            });
            $('#branch').on('click', function () {
                getsharesreport();
            });
            $('#branch').on('change', function () {
                getsharesreport();
            });
            getsharesreport();
            function getsharesreport() {
                $('#intakes').html("");
                $("#amount").val(0);
                var shares = $("#shares").val();
                var branch = $("#branch").val();
                var date1 = $("#firstdate").val();
                $.ajax(
                    {
                        type: 'POST',
                        url: "getsharesreport?date1=" + date1 + "&branch=" + branch + "&sharetype=" + shares,
                        contentType: 'application/json',
                        success: function (response) {
                            populateIntake(response)
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });

            }
            function populateIntake(intakes) {
                let itemTableRows = new Array();
                var totalshares = 0;
                intakes.forEach(i => {
                    totalshares += i.Shares;
                    itemTableRows.push(`<tr>
                                            <td>${i.Sno}</td>
                                            <td>${i.Name}</td>
                                            <td>${i.Gender}</td>
                                            <td>${i.IDNo}</td>
                                            <td>${i.PhoneNo}</td>
                                            <td>${i.Shares}</td>
                                            <td>${i.YearOfCompletion}</td>
                                            <td>${i.Branch}</td>
                                         </tr>`)
                });
                itemTableRows.push(`< tr >
                                    <td colspan="6"><h5>Total Shares:</h5></td>
                                     <td>${totalshares.toFixed(2)}</td>
                                </tr >`);
                $("#amount").val(totalshares.toFixed(2));
                $('#intakes').html(itemTableRows);
            }
            function heading() {
                var company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var user = @Html.Raw(Json.Serialize(ViewBag.User));
                var usa = "Printed By  :" + user;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company').html(itemTableRow);
                itemTableRows2.push(`${usa}`);
                $('#user').html(itemTableRows2);
            }

            $('#excel_report').on('click', function () {
                heading();
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `All Shares Report ${date}`;
                $('#tbl_rep_report').table2excel({ filename: fileName, fileext: ".xls" });
            });


            $('#print_report').on('click', function () {
                $("#com").show();
                $("#htitl").show();
                $("#hstartd").show();
                $("#huser").show();
                heading();
                var divToPrint = document.getElementById("tbl_rep_report");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com").hide();
                $("#htitl").hide();
                $("#hstartd").hide();
                $("#huser").hide();
            });
        });
    </script>
}



