<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #00ff21;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #dec3eb;
            color: white;
        }

    .divScroll {
        width: 1000px;
        height: 500px;
        overflow: auto;
    }
</style>
<div class="row">
    <div class="tabs-info-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="widget-tabs-int">
                        <div class="tab-hd">
                            <h3 class="text-danger fa-bold">Income Statement</h3>
                        </div>
                        <div class="widget-tabs-list">
                            <div class="row">
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">From Date</label>
                                        <input type="date" id="fromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">To Date</label>
                                        <input type="date" id="toDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                    @*<a id="endOfDay" class="btn btn-success">Intake End Of Day</a>*@
                                </div>
                                <div class="col-sm-2 col-xs-12">
                                   @* <label class="control-label">Product</label>
                                    <select id="product" class="chzn-select form-control" asp-items="@ViewBag.products">
                                        <option value=""></option>
                                    </select>*@
                                </div>
                            </div>

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#generalStatement">General</a></li>
                                <li><a data-toggle="tab" href="#storeStatement">Store</a></li>
                                <li><a data-toggle="tab" href="#yoghurtStatement">Yoghurt</a></li>
                                <li><a data-toggle="tab" href="#tankerStatement">Tanker</a></li>
                                <li><a data-toggle="tab" href="#aiStatement">A.I</a></li>
                            </ul>
                            <div class="tab-content tab-custom-st">
                                <div id="generalStatement" class="tab-pane fade in active">
                                    <div class="widget-tabs-int">
                                        <div class="widget-tabs-list">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#generalStatSummary">Summary</a></li>
                                                <li><a data-toggle="tab" href="#generalStatDetailed">Detailed</a></li>
                                            </ul>

                                            <div class="tab-content tab-custom-st">
                                                <div id="generalStatSummary" class="tab-pane fade in active">
                                                    <div class="tab-ctn">
                                                        <div class="normal-table-list mg-t-30">
                                                            <div class="row">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <a id="btn_gen_stat_summary" class="btn btn-warning">Show
                                                                        <img id="general_summary_loading" src="~/Images/Loading.gif" alt="Loading" width="50" height="30">
                                                                    </a>
                                                                </div>
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <a id="excel_rep_gen_summary" class="btn btn-success">Export Excel</a>
                                                                </div>
                                                                <div class="col-sm-2 col-xs-12">
                                                                        <a id="print_report" class="btn btn-success">Print Report</a>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="bsc-tbl-hvr table-border-style">
                                                                <div id="gen_summary_Collection"></div>
                                                                <div class="table-responsive">
                                                                    <div class="divScroll">
                                                                        <table class="table table-hover" border="1" id="tbl_rep_gen_summary">
                                                                            <thead>
                                                                                <tr id="com"><th colspan="4" id="company"></th></tr>
                                                                                <tr id="htitl"> <th colspan="4"> <strong>MILK CALCULATION FOR THE MONTH</strong></th></tr>
                                                                                <tr id="hstartd"><th colspan="4" id="sema"></th>  </tr>
                                                                                <tr id="her"><th colspan="7"><hr /></th></tr>
                                                                                <tr>
                                                                                    <th>
                                                                                        Name
                                                                                    </th>
                                                                                    <th>
                                                                                        Quantity
                                                                                    </th>
                                                                                    <th>
                                                                                        Price
                                                                                    </th>
                                                                                    <th>
                                                                                        Amount
                                                                                    </th>
                                                                                    <th>
                                                                                        Total
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="gen_rep_summary">
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="generalStatDetailed" class="tab-pane fade">
                                                    <div class="tab-ctn">
                                                        <div class="normal-table-list mg-t-30">
                                                            <div class="row">
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <a id="btn_general_detailed" class="btn btn-warning">Show
                                                                        <img id="general_detailed_loading" src="~/Images/Loading.gif" alt="Loading" width="50" height="30">
                                                                    </a>
                                                                </div>
                                                                <div class="col-sm-4 col-xs-12">
                                                                    <a id="excel_general_detailed" class="btn btn-success">Export Excel</a>
                                                                </div>
                                                            </div>
                                                                
                                                            <div class="bsc-tbl-hvr table-border-style">
                                                                <div id="gen_detailed_Collection"></div>
                                                                <div class="table-responsive">
                                                                    <table class="table table-hover" id="tbl_general_detailed">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    Date
                                                                                </th>
                                                                                <th>
                                                                                    Gl Acc
                                                                                </th>
                                                                                <th>
                                                                                    Acc Name
                                                                                </th>
                                                                                <th>
                                                                                    Description
                                                                                </th>
                                                                                <th>
                                                                                    Dr
                                                                                </th>
                                                                                <th>
                                                                                    Cr
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="general_detailed">
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                
                                                                <div class="row">
                                                                    <div class="col-sm-4 col-xs-12">
                                                                    </div>
                                                                    <div class="col-sm-4 col-xs-12">
                                                                        <label class="control-label">Total SPrice</label>
                                                                        <input value="0" id="Tselling" class="form-control" readonly />
                                                                    </div>
                                                                    <div class="col-sm-4 col-xs-12">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="storeStatement" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery" class="btn btn-warning"> Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summery" class="btn btn-success">Export Excel</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tbl_summary">

                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>SNo</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                                
                                                            </tr>
                                                            <tbody id="tbl_sum_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total SPrice</label>
                                                        <input value="0" id="Tselling" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="yoghurtStatement" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summery" class="btn btn-success">Export Excel</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tbl_summary">
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>SNo</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                            <tbody id="tbl_sum_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total SPrice</label>
                                                        <input value="0" id="Tselling" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tankerStatement" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summery" class="btn btn-success">Export Excel</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tbl_summary">
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>SNo</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                            <tbody id="tbl_sum_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total SPrice</label>
                                                        <input value="0" id="Tselling" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="aiStatement" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="normal-table-list mg-t-30">
                                            <div class="row">
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="showSummery" class="btn btn-warning">Show</a>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <a id="excel_summery" class="btn btn-success">Export Excel</a>
                                                </div>
                                            </div>

                                            <div class="bsc-tbl-hvr table-border-style">
                                                <div class="table-responsive">
                                                    <div class="divScroll">
                                                        <table class="table table-hover" id="tbl_summary">
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Code</th>
                                                                <th>Product</th>
                                                                <th>SNo</th>
                                                                <th>Quantity</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                            <tbody id="tbl_sum_details">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                        <label class="control-label">Total SPrice</label>
                                                        <input value="0" id="Tselling" class="form-control" readonly />
                                                    </div>
                                                    <div class="col-sm-4 col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            let incomes = new Array();
            let expenses = new Array();
            let totalKgs = 0;
            var getMonthName = 0;

            $("#com").hide();
            $("#htitl").hide();
            $("#hstartd").hide();
            $("#her").hide();

            $('#general_summary_loading').hide();
            $('#general_detailed_loading').hide();
            var today = new Date().toISOString().split('T')[0];
            $("#fromDate").val(today);
            $("#toDate").val(today);
            $('#btn_general_detailed').on('click', function () {
                $('#general_detailed_loading').show();
                buildGeneralDetailedStat();
            });
            $('#btn_gen_stat_summary').on('click', function () {
                $('#general_summary_loading').show();
                buildGeneralSummaryStat();
            });

            $('#excel_rep_gen_summary').on('click', function () {
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `Statement Summary ${date}`;
                heading();
                $('#tbl_rep_gen_summary').table2excel({
                    filename: fileName, 
                    fileext: ".xls",
                    name: "Statement Summary",
                });
            });

            $('#excel_general_detailed').on('click', function () {
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = `Statement Detailed ${date}`;
                $('#tbl_general_detailed').table2excel({
                    filename: fileName, 
                    fileext: ".xls",
                    name: "Statement Detailed",
                });
            });
            function heading() {
                var company = @Html.Raw(Json.Serialize(ViewBag.Sacco));
                var user = @Html.Raw(Json.Serialize(ViewBag.User));
                var date1 = today;
                var date10 = new Date(date1).toLocaleDateString();
                var date2 = $("#toDate").val();
                var date20 = new Date(date2).toLocaleDateString();
                var sm = " OF :" + date2 + " AS AT " + date10;
                //var com = ;
                //$("#sema").val(sm);
                let itemTableRows1 = new Array();
                let itemTableRow = new Array();
                let itemTableRows2 = new Array();
                itemTableRow.push(`${company}`);
                $('#company').html(itemTableRow);
                itemTableRows1.push(`${sm}`);
                $('#sema').html(itemTableRows1);
            }
            $('#print_report').on('click', function () {
                $("#com").show();
                $("#htitl").show();
                $("#hstartd").show();
                $("#her").show();
                $("#companyname").show();
                heading();
                var divToPrint = document.getElementById("tbl_rep_gen_summary");
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                $("#com").hide();
                $("#htitl").hide();
                $("#hstartd").hide();
                $("#her").hide();
                $("#companyname").hide();
            });
            //$('#fromDate').on('change', function () {
            //    buildIncomeStatement();
            //});

            //$('#toDate').on('change', function () {
            //    buildIncomeStatement();
            //});

            function buildGeneralDetailedStat() {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var filter = {
                    fromDate: fromDate,
                    toDate: toDate,
                };

                if (fromDate && toDate) {
                    $.ajax({
                        type: 'POST',
                        url: "incomeStatement",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            $('#general_detailed_loading').hide();
                            incomes = response.income ? response.income : new Array();
                            expenses = response.expenses ? response.expenses : new Array();
                            totalKgs = response.totalKgs ? response.totalKgs : 0;
                            getMonthName = response.getMonthName ? response.getMonthName : 0;
                            debugger
                            populateGeneralDetailsTable();
                        },
                        failure: function (response) {
                            $('#general_detailed_loading').hide();
                        }
                    }).then(function () {
                        // ...
                    });
                }
            }

            function buildGeneralSummaryStat() {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var filter = {
                    fromDate: fromDate,
                    toDate: toDate,
                };

                if (fromDate && toDate) {
                    $.ajax({
                        type: 'POST',
                        url: "incomeStatementSummary",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            $('#general_summary_loading').hide();
                            incomes = response.income ? response.income : new Array();
                            expenses = response.expenses ? response.expenses : new Array();
                            totalKgs = response.totalKgs ? response.totalKgs : 0;
                            getLastMonthName = response.getLastMonthName ? response.getLastMonthName : "";
                            lasttotalKgs = response.lasttotalKgs ? response.lasttotalKgs : 0;
                            Remarkks = response.Remarkks ? response.Remarkks : "";
                            checkthediff = response.checkthediff ? response.checkthediff : 0;
                                
                            populateGenaralSummaryTable();
                        },
                        failure: function (response) {
                            $('#general_summary_loading').hide();
                        }
                    }).then(function () {
                        // ...
                    });
                }
            }

            function populateGeneralDetailsTable() {
                let itemTableRows = new Array();
                var income = 0;
                var expense = 0;
                var dr = 0;
                var cr = 0;
                itemTableRows.push(`<tr>
                    <td><h3>TOTAL LITRES</h3></td>
                    <td>${totalKgs.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    <td colspan="3"></td>
                </tr>`);

                itemTableRows.push(`<tr>
                    <td colspan="6"><h3>Income</h3></td>
                </tr>`);

                incomes.forEach(j => {
                    //j.TransDate = j.TransDate ? j.TransDate : "";
                    j.TransDate = new Date(j.TransDate).toLocaleDateString('en-GB');
                    itemTableRows.push(`<tr>
                        <td>${j.TransDate}</td>
                        <td>${j.GlAcc}</td>
                        <td>${j.AccName}</td>
                        <td>${j.TransDescript}</td>
                        <td>${j.Dr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        <td>${j.Cr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    </tr>`);
                    dr += j.Dr;
                    cr += j.Cr;
                });

                itemTableRows.push(`<tr>
                    <td colspan="4"><h3></h3></td>
                    <td>${dr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    <td>${cr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                income = income + (cr - dr);
                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>Total Income</h3></td>
                    <td>${income.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                dr = 0;
                cr = 0;
                itemTableRows.push(`<tr>
                    <td colspan="6"><h3>Expense</h3></td>
                </tr>`);

                expenses.forEach(j => {
                    //j.TransDate = j.TransDate ? j.TransDate : "";
                    j.TransDate = new Date(j.TransDate).toLocaleDateString('en-GB');
                    itemTableRows.push(`<tr>
                        <td>${j.TransDate}</td>
                        <td>${j.GlAcc}</td>
                        <td>${j.AccName}</td>
                        <td>${j.TransDescript}</td>
                        <td>${j.Dr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        <td>${j.Cr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    </tr>`);
                    dr += j.Dr;
                    cr += j.Cr;
                });

                itemTableRows.push(`<tr>
                    <td colspan="4"><h3></h3></td>
                    <td>${dr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    <td>${cr.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                expense = expense + (dr - cr);
                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>Total Expenses</h3></td>
                    <td>${expense.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                var profit = income - expense;
                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>NET SALES</h3></td>
                    <td>${profit.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>TOTAL LITRES</h3></td>
                    <td>${totalKgs.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                $("#gen_detailed_Collection").val(`Collection: ${totalKgs.toLocaleString('en-US', { maximumFractionDigits: 2 })}`);
                var rate = profit / totalKgs;
                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>MAXIMUM POSSIBLE RATE</h3></td>
                    <td>${rate.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                $('#general_detailed').html(itemTableRows);
            }

            function populateGenaralSummaryTable() {
                let itemTableRows = new Array();
                var income = 0;
                var saleskgs = 0;
                var expense = 0;
                
                itemTableRows.push(`<tr>
                    <td colspan="3"><h3>${getLastMonthName}</h3></td>
                    <td>${lasttotalKgs.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                </tr>`);
                itemTableRows.push(`<tr>
                            <td colspan="3"><h3>${Remarkks}</h3></td>
                            <td>${checkthediff.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                        </tr>`);
                itemTableRows.push(`<tr>
                                    <td colspan="3"><h3>Total Collection</h3></td>
                            <td>${totalKgs.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                            <td colspan="2"></td>
                        </tr>`);

                itemTableRows.push(`<tr>
                    <td colspan="4"><h3>Income</h3></td>
                </tr>`);
                incomes.forEach(j => {
                    itemTableRows.push(`<tr>
                        <td>${j.Name}</td>
                        <td>${j.Quantity.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        <td>${j.Price.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        <td>${j.Amount.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    </tr>`);
                    income += j.Amount;
                    saleskgs += j.Quantity;
                });

                itemTableRows.push(`<tr>
                    <td colspan="1"><h2>TOTAL MILK SALES</h2></td>
                    <td>${saleskgs.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                    <td colspan="2"><h1></h1></td>
                    <td>${income.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                itemTableRows.push(`<tr class="border border-1">
                    <td colspan="4"><h2>Expense</h2></td>
                </tr>`);

                expenses.forEach(j => {
                    itemTableRows.push(`<tr>
                        <td colspan="4">${j.Categoy}</td>
                    </tr>`);
                    j.voteheads.forEach(v => {
                        itemTableRows.push(`<tr>
                            <td>${v.AccNo}</td>
                            <td colspan="2">${v.Name}</td>
                            <td>${v.Amount.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        </tr>`);
                    });
                    itemTableRows.push(`<tr>
                        <td colspan="4"><h1></h1></td>
                        <td>${j.Total.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    </tr>`);
                    expense += j.Total;
                });

                itemTableRows.push(`<tr>
                    <td colspan="3"><h3>Total Expenses</h3></td>
                    <td>${expense.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        </tr>`); 

                itemTableRows.push(`<tr>
                            <td colspan="3"><h3> </h3></td>
                            <td>${getMonthName}</td>
                        </tr>`);
                itemTableRows.push(`<tr>
                    <td colspan="3"><h3>TOTAL SALES</h3></td>
                    <td>${income.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                </tr>`);
                itemTableRows.push(`<tr>
                            <td colspan="3"><h3>LESS TOTAL EXPENSES</h3></td>
                            <td>${expense.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                        </tr>`);

                var profit = income - expense;
                itemTableRows.push(`<tr>
                    <td colspan="3"><h3>NET SALES</h3></td>
                    <td>${profit.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                </tr>`);

                itemTableRows.push(`<tr>
                    <td colspan="3"><h3>TOTAL LITRES</h3></td>
                    <td>${totalKgs.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                $("#gen_summary_Collection").val(`Collection: ${totalKgs.toLocaleString('en-US', {maximumFractionDigits:2})}`);
                var rate = profit / totalKgs;
                itemTableRows.push(`<tr>
                    <td colspan="3"><h3>MAXIMUM POSSIBLE RATE</h3></td>
                    <td>${rate.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                </tr>`);

                $('#gen_rep_summary').html(itemTableRows);
            }
        });
    </script>
}
