<div class="row">
    <div class="col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <h3 class="text-danger fa-bold">Income Statement</h3>
                </div>
                <div class="col-sm-7 col-xs-12">
                </div>
            </div>

            <form asp-action="Create">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">From Date</label>
                            <input type="date" id="fromDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">To Date</label>
                            <input type="date" id="toDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        @*<a id="endOfDay" class="btn btn-success">Intake End Of Day</a>*@
                    </div>
                </div>
            </form>

            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Gl Acc
                                </th>
                                <th>
                                    Acc Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Dr
                                </th>
                                <th>
                                    Cr
                                </th>
                            </tr>
                        </thead>
                        <tbody id="details">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            let incomes = new Array();
            let expenses = new Array();
            
            $('#fromDate').on('change', function () {
                buildIncomeStatement();
            });

            $('#toDate').on('change', function () {
                buildIncomeStatement();
            });
            
            function buildIncomeStatement() {
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var filter = {
                    fromDate: fromDate,
                    toDate: toDate,
                };

                if (fromDate && toDate) {
                    $.ajax({
                        type: 'POST',
                        url: "incomeStatement",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            incomes = response.income ? response.income : new Array();
                            expenses = response.expenses ? response.expenses : new Array();
                            populateDetailsTable();
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                }
            }

            function populateDetailsTable() {
                let itemTableRows = new Array();
                var income = 0;
                var expense = 0;
                var dr = 0;
                var cr = 0;
                itemTableRows.push(`<tr>
                    <td colspan="6"><h3>Income</h3></td>
                </tr>`);

                incomes.forEach(j => {
                    j.TransDate = j.TransDate ? j.TransDate : "";
                    itemTableRows.push(`<tr>
                        <td>${j.TransDate}</td>
                        <td>${j.GlAcc}</td>
                        <td>${j.AccName}</td>
                        <td>${j.TransDescript}</td>
                        <td>${j.Dr}</td>
                        <td>${j.Cr}</td>
                    </tr>`);
                    dr += j.Dr;
                    cr += j.Cr;
                });

                itemTableRows.push(`<tr>
                    <td colspan="4"><h3></h3></td>
                    <td>${dr}</td>
                    <td>${cr}</td>
                </tr>`);

                income = income + (cr - dr);
                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>Total Income</h3></td>
                    <td>${income}</td>
                </tr>`);

                dr = 0;
                cr = 0;
                itemTableRows.push(`<tr>
                    <td colspan="6"><h3>Expense</h3></td>
                </tr>`);

                expenses.forEach(j => {
                    j.TransDate = j.TransDate ? j.TransDate : "";
                    itemTableRows.push(`<tr>
                        <td>${j.TransDate}</td>
                        <td>${j.GlAcc}</td>
                        <td>${j.AccName}</td>
                        <td>${j.TransDescript}</td>
                        <td>${j.Dr}</td>
                        <td>${j.Cr}</td>
                    </tr>`);
                    dr += j.Dr;
                    cr += j.Cr;
                });

                itemTableRows.push(`<tr>
                    <td colspan="4"><h3></h3></td>
                    <td>${dr}</td>
                    <td>${cr}</td>
                </tr>`);

                expense = expense + (dr - cr);
                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>Total Expenses</h3></td>
                    <td>${expense}</td>
                </tr>`);

                var profit = income - expense;
                itemTableRows.push(`<tr>
                    <td colspan="5"><h3>Profit/Loss</h3></td>
                    <td>${profit}</td>
                </tr>`);

                $('#details').html(itemTableRows);
            }
        });
    </script>
}
