<div class="row">
    <div class="col-xs-12">
        <div class="normal-table-list mg-t-30">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <h3 class="text-danger fa-bold">Special Price</h3>
                </div>
                <div class="col-sm-7 col-xs-12">
                </div>
            </div>

            <form asp-action="Create">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">From Date</label>
                            <input type="date" id="fromDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">To Date</label>
                            <input type="date" id="toDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                       <div class="form-group">
                            <label class="control-label">
                                <input type="checkbox" id="isFarmer"/>Farmers
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <a id="showtable" class="btn btn-warning">Show
                                <img id="special_price_loading" src="~/Images/Loading.gif" alt="Loading" width="50" height="30">
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label"></label>
                            <a id="excel_special_price" class="btn btn-success">Export Excel</a>
                        </div>
                    </div>

                </div>
            </form>

            <div class="bsc-tbl-hvr table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover" id="tbl_special_price">
                        <thead>
                            <tr>
                                <th> Name </th>
                                <th> Code </th>
                                <th> Quantity </th>
                                <th> Rate </th>
                                <th> Amount </th>
                            </tr>
                        </thead>
                        <tbody id="details">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $("#isFarmer").prop("checked", true);
            $('#special_price_loading').hide();
            var today = new Date().toISOString().split('T')[0];
            $("#fromDate").val(today);
            $("#toDate").val(today);

            $('#excel_special_price').on('click', function () {
                var isFarmer = $('#isFarmer').is(':checked');
                let date = new Date().toLocaleDateString('en-GB');
                let fileName = isFarmer ? `Farmers Special Price ${date}` : `Traders Special Price ${date}`;
                $('#tbl_special_price').table2excel({
                    filename: fileName,
                    fileext: ".xls",
                    name: "Special Price",
                });
            });
            $("#showtable").click(function (){
                $('#special_price_loading').show();
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var isFarmer = $('#isFarmer').is(':checked');
                var filter = {
                    fromDate: fromDate,
                    toDate: toDate,
                    isFarmer: isFarmer
                };

                if (fromDate && toDate) {
                    $.ajax({
                        type: 'POST',
                        url: "specialPrice",
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            $('#special_price_loading').hide();
                            populateDetailsTable(response.specials);
                        },
                        failure: function (response) {
                            $('#special_price_loading').hide();
                        }
                    }).then(function () {
                        // ...
                    });
                }
            });

            function populateDetailsTable(specialPrices) {
                let itemTableRows = new Array();
                let totalKgs = 0;
                let totalAmount = 0;
                specialPrices.forEach(j => {
                    itemTableRows.push(`<tr>
                        <td>${j.Name}</td>
                        <td>'${j.Code}</td>
                        <td>${j.Quantity.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        <td>${j.Rate.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                        <td>${j.Amount.toLocaleString('en-US', {maximumFractionDigits:2})}</td>
                    </tr>`);

                    totalKgs += j.Quantity;
                    totalAmount += j.Amount;
                });

                itemTableRows.push(`<tr>
                    <td>Totals</td>
                    <td></td>
                    <td>${totalKgs.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                    <td></td>
                    <td>${totalAmount.toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>
                </tr>`);

                $('#details').html(itemTableRows);
            }
        });
    </script>
}
