<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                    <div class="form-group ic-cmp-int float-lb floating-lb">
                        <div class="nk-int-st">
                            <h1 style="text-align-last:center">AGROVET REPORTS</h1>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-3 col-xs-7">
                    <a asp-controller="AgrovetStockReceive" asp-action="Index" class="btn btn-primary">Stock Receive Report</a>
                </div>
                <div class="col-lg-3 col-xs-3">
                    <a asp-controller="DrawnstockReport" asp-action="Index" class="btn btn-primary text-white-50">Dispatch Stock Report</a>
                </div>
                <div class="col-lg-3 col-xs-2">
                    <a asp-controller="AgrovetStockBalReport" asp-action="Index" class="btn btn-primary text-white-50">Stock Balance Report</a>
                </div>
                <div class="col-lg-3 col-xs-3">
                    <a asp-controller="AgrovetSAnalysisReport" asp-action="Index" class="btn btn-primary text-white-50">Sales Analysis Report</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-3 col-xs-2">
                    <a asp-controller="AgrovetCheckOReport" asp-action="Index" class="btn btn-info text-white-50">Check-Off Sales Report</a>
                </div>
                <div class="col-lg-3 col-xs-7">
                    <a asp-controller="AgrovetCashReport" asp-action="Index" class="btn btn-info">Cash Sales Report</a>
                </div>
                <div class="col-lg-3 col-xs-3">
                    <a asp-controller="AgrovetStaffReport" asp-action="Index" class="btn btn-info text-white-50">Staff Sales Report</a>
                </div>
                <div class="col-lg-3 col-xs-3">
                    <a asp-controller="AgrovetAllSalesReport" asp-action="Index" class="btn btn-info text-white-50">All Sales Report</a>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>
