@model EasyPro.Models.Usergroup

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Group Code</label>
                            <input asp-for="GroupId" class="form-control" />
                            <span asp-validation-for="GroupId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="GroupName" class="control-label"></label>
                            <input asp-for="GroupName" class="form-control" />
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input asp-for="Files" type="checkbox" />
                            <label asp-for="Files"></label>
                        </div>
                        <div class="form-group">
                            
                                <input asp-for="Store" type="checkbox" />
                                <label asp-for="Store"></label>
                           
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="col-md-3 ml-md-auto">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="form-group">
                                        <input asp-for="Products" type="checkbox" />
                                        <label asp-for="Products"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ProdSupplier" type="checkbox" />
                                        <label asp-for="ProdSupplier"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ProdSales" type="checkbox" />
                                        <label asp-for="ProdSales"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="SalesReturn" type="checkbox" />
                                        <label asp-for="SalesReturn"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ProdDispatch" type="checkbox" />
                                        <label asp-for="ProdDispatch"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Deductions" type="checkbox" />
                            <label asp-for="Deductions"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="SaccoReports" type="checkbox" />
                            <label asp-for="SaccoReports"></label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     
                        <div class="form-group">
                            <input asp-for="Flmd" type="checkbox" />
                            <label asp-for="Flmd"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Activity" type="checkbox" />
                            <label asp-for="Activity"></label>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="col-md-3 ml-md-auto">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="form-group">
                                        <input asp-for="ProdIntake" type="checkbox" />
                                        <label asp-for="ProdIntake"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="IntakeCorrection" type="checkbox" />
                                        <label asp-for="IntakeCorrection"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ImportIntake" type="checkbox" />
                                        <label asp-for="ImportIntake"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="MilkTest" type="checkbox" />
                                        <label asp-for="MilkTest"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="VarBalancing" type="checkbox" />
                                        <label asp-for="VarBalancing"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Dispatch" type="checkbox" />
                                        <label asp-for="Dispatch"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="SendSms" type="checkbox" />
                                        <label asp-for="SendSms"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="MilkControl" type="checkbox" />
                                        <label asp-for="MilkControl"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="BranchMilkEnquiry" type="checkbox" />
                                        <label asp-for="BranchMilkEnquiry"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="SupplierStatement" type="checkbox" />
                                        <label asp-for="SupplierStatement"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="TransporterStatement" type="checkbox" />
                                        <label asp-for="TransporterStatement"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Accounts" type="checkbox" />
                            <label asp-for="Accounts"></label>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <div class="col-md-3 ml-md-auto">
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <div class="form-group">
                                        <input asp-for="ChartsofAcc" type="checkbox" />
                                        <label asp-for="ChartsofAcc"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="JournalPosting" type="checkbox" />
                                        <label asp-for="JournalPosting"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Glinquiry" type="checkbox" />
                                        <label asp-for="Glinquiry"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Budgettings" type="checkbox" />
                                        <label asp-for="Budgettings"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="JournalListing" type="checkbox" />
                                        <label asp-for="JournalListing"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="TrialBalance" type="checkbox" />
                                        <label asp-for="TrialBalance"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="IncomeStatement" type="checkbox" />
                                        <label asp-for="IncomeStatement"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="BalanceSheet" type="checkbox" />
                                        <label asp-for="BalanceSheet"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Payroll" type="checkbox" />
                                        <label asp-for="Payroll"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Bills" type="checkbox" />
                                        <label asp-for="Bills"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Refunds" type="checkbox" />
                                        <label asp-for="Refunds"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="CreditNotes" type="checkbox" />
                                        <label asp-for="CreditNotes"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="VendorProducts" type="checkbox" />
                                        <label asp-for="VendorProducts"></label>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="CustomerProducts" type="checkbox" />
                                        <label asp-for="CustomerProducts"></label>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input asp-for="Setup" type="checkbox" />
                            <label asp-for="Setup"></label>
                        </div>
                        
                        <div class="form-group">
                            <input asp-for="Staff" type="checkbox" />
                            <label asp-for="Staff"></label>
                        </div>

                        <div class="form-group">
                            <input asp-for="Reports" type="checkbox" />
                            <label asp-for="Reports"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
