@model EasyPro.Models.Usergroup

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Edit</h2>
            </div>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="GroupId" />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="GroupName" class="control-label"></label>
                            <input asp-for="GroupName" class="form-control" />
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input asp-for="CashBook" type="checkbox" />
                            <label asp-for="CashBook"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Transactions" type="checkbox" />
                            <label asp-for="Transactions"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Activity" type="checkbox" />
                            <label asp-for="Activity"></label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input asp-for="Reports" type="checkbox" />
                            <label asp-for="Reports"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Setup" type="checkbox" />
                            <label asp-for="Setup"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Files" type="checkbox" />
                            <label asp-for="Files"></label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input asp-for="Accounts" type="checkbox" />
                            <label asp-for="Accounts"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="AccountsPay" type="checkbox" />
                            <label asp-for="AccountsPay"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="FixedAssets" type="checkbox" />
                            <label asp-for="FixedAssets"></label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input asp-for="SaccoReports" type="checkbox" />
                            <label asp-for="SaccoReports"></label>
                        </div>
                        <div class="form-group">
                            <input asp-for="Staff" type="checkbox" />
                            <label asp-for="Staff"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
