@model EasyPro.ViewModels.FarmersVM.FarmersVM

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create Deduction</h2>
            </div>
            <hr />
            <form asp-action="CreateDeduction">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Deduction Date</label>
                                    <input type="date" asp-for="ProductIntake.TransDate" class="form-control" required/>
                                    <span asp-validation-for="ProductIntake.TransDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="ProductIntake.Sno" class="control-label"></label>
                                    <input id="sno" autocomplete="off" asp-for="ProductIntake.Sno" class="form-control" required />
                                    <span asp-validation-for="ProductIntake.Sno" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Name</label>
                                    <input id="name" readonly class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="ProductIntake.ProductType" class="control-label"></label>
                                    <select asp-for="ProductIntake.ProductType" required class="form-control" asp-items="@ViewBag.Description"></select>
                                    <span asp-validation-for="ProductIntake.ProductType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="ProductIntake.Remarks" class="control-label"></label>
                                    <input asp-for="ProductIntake.Remarks" autocomplete="off" class="form-control" required />
                                    <span asp-validation-for="ProductIntake.Remarks" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input asp-for="ProductIntake.DR" autocomplete="off" class="form-control" required />
                                    <span asp-validation-for="ProductIntake.DR" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label asp-for="ProductIntake.Branch" class="control-label"></label>
                                    <select asp-for="ProductIntake.Branch" class="form-control" asp-items="@ViewBag.brances" required></select>
                                    <span asp-validation-for="ProductIntake.Branch" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="DeductionList" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $('#sno').on('change', function () {
                var products = @Html.Raw(Json.Serialize(Model.DSuppliers));
                var selectVal = parseInt($("#sno").val());
                var selectProducts = products.filter(p => p.Sno === selectVal);
               // debugger;
                    if (selectProducts[0]) {
                        $("#name").val(selectProducts[0].Names);
                    }
            });
        });
    </script>
}
