@model EasyPro.Models.ProductIntake

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ProductIntake</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sno" class="control-label"></label>
                <input asp-for="Sno" class="form-control" />
                <span asp-validation-for="Sno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransDate" class="control-label"></label>
                <input asp-for="TransDate" class="form-control" />
                <span asp-validation-for="TransDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qsupplied" class="control-label"></label>
                <input asp-for="Qsupplied" class="form-control" />
                <span asp-validation-for="Qsupplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ppu" class="control-label"></label>
                <input asp-for="Ppu" class="form-control" />
                <span asp-validation-for="Ppu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CR" class="control-label"></label>
                <input asp-for="CR" class="form-control" />
                <span asp-validation-for="CR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DR" class="control-label"></label>
                <input asp-for="DR" class="form-control" />
                <span asp-validation-for="DR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditId" class="control-label"></label>
                <input asp-for="AuditId" class="form-control" />
                <span asp-validation-for="AuditId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auditdatetime" class="control-label"></label>
                <input asp-for="Auditdatetime" class="form-control" />
                <span asp-validation-for="Auditdatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <input asp-for="Branch" class="form-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
