@model EasyPro.Models.ProductIntake

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Create</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Sno" class="control-label"></label>
                            <input asp-for="Sno" id="Sno" class="form-control" />
                            <span asp-validation-for="Sno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Names</label>
                            <input id="Names" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="ProductType" class="control-label"></label>
                            <select id="ProductType" asp-for="ProductType" class="form-control" asp-items="@ViewBag.products"></select>
                            <span asp-validation-for="ProductType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Ppu" class="control-label"></label>
                            <input id="Ppu" asp-for="Ppu" class="form-control" readonly />
                            <span asp-validation-for="Ppu" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Qsupplied" class="control-label"></label>
                            <input id="Qsupplied" asp-for="Qsupplied" class="form-control" />
                            <span asp-validation-for="Qsupplied" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="CR" class="control-label"></label>
                            <input asp-for="CR" id="CR" class="form-control" readonly />
                            <span asp-validation-for="CR" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <input asp-for="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">
        $(function () {
            $('#ProductType').on('change', function () {
                var selectVal = $("#ProductType").val();
                var products = @Html.Raw(Json.Serialize(ViewBag.productPrices));
                var selectProducts = products.filter(p => p.Products === selectVal);
                if (selectProducts[0]) {
                    $("#CR").val();
                    $("#Qsupplied").val();
                    $("#Ppu").val(selectProducts[0].Price);
                }
            });

            $('#Sno').on('keyup', function () {
                var suppliers = @Html.Raw(Json.Serialize(ViewBag.suppliers));
                var selectVal = parseInt($("#Sno").val());
                var selectSupplier = suppliers.filter(p => p.Sno === selectVal);
                if (selectSupplier[0]) {
                    $("#Names").val(selectSupplier[0].Names);
                }
            });

            $('#Qsupplied').on('keyup', function () {
                calculatePrice();
            });

            function calculatePrice() {
                var qty = parseFloat($("#Qsupplied").val());
                var price = parseFloat($("#Ppu").val());
                if (qty && price) {
                    $("#CR").val(qty * price);
                }
            }
        });
</script>
}
