@{
    ViewData["Title"] = "PrintSupplierStatement";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <form asp-action="PrintSupplierStatement">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                        <h2>Print Farmer Statement</h2>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                          
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input name="statement" type="radio" id="individual_farmers" />
                            <label class="control-label" for="individual_farmers">Individual Farmer</label>
                        </div>
                        
                        <div class="form-group">
                            <input name="statement" type="radio" id="transporter_farmers" />
                            <label class="control-label" for="transporter_farmers">Transporter Farmers</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Branch</label>
                                    <select id="branch" class="form-control" asp-items="@ViewBag.branches" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">End Month Date</label>
                                    <input id="date" type="date" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row" id="farmer_section">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Number</label>
                                    <input id="sno" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Name</label>
                                    <input id="name" readonly class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <div class="row" id="transporter_section">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Transporter</label>
                                    <select id="transcode" class="chzn-select form-control" asp-items="@ViewBag.transCodes" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Transpoter Name</label>
                                    <input id="transName" readonly class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a id="print" class="btn btn-success">Print</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            var today = new Date().toISOString().split('T')[0];
            $("#date").val(today);
            $('#sno').on('keyup', function () {
                getSupplier();
            });
            $("#individual_farmers").prop("checked", true);
            $("#transporter_farmers").prop("checked", false);
            if ($('#individual_farmers').is(':checked')){
                $('#farmer_section').show();
                $('#transporter_section').hide();
            }
            if ($('#transporter_farmers').is(':checked')) {
                $('#transporter_section').show();
                $('#farmer_section').hide();
            }

            $('input[type=radio]').change(function () {
                if ($('#individual_farmers').is(':checked')){
                    $('#farmer_section').show();
                    $('#transporter_section').hide();
                }
                if ($('#transporter_farmers').is(':checked')) {
                    $('#transporter_section').show();
                    $('#farmer_section').hide();
                }
            });

            let isSlopes = '@ViewBag.slopes' === 'True';
            var transporters = @Html.Raw(Json.Serialize(ViewBag.transporters));
            $('#transcode').on('change', function (){
                var selectVal = $("#transcode").val();
                var selectTransporters = transporters.filter(p => p.TransCode === selectVal);
                if (isSlopes) {
                    selectTransporters = transporters.filter(p => p.CertNo === selectVal);
                }

                $("#transName").val(selectTransporters[0].TransName);
            });
            
            $('#print').on('click', function () {
                var branch = $("#branch").val();
                var date = $("#date").val();
                var name = $("#name").val();
                var sno = $("#sno").val();
                var operation = "printSupplierStatement";

                if ($('#individual_farmers').is(':checked')){
                    sno = $("#sno").val();
                    operation = "printSupplierStatement";
                }
                if ($('#transporter_farmers').is(':checked')) {
                    sno = $("#transcode").val();
                    operation = "getTransporterFarmersStat";
                }

                var filter = {
                    branch: branch,
                    date: date,
                    code: sno,
                    name: name
                };

                if (sno && branch && date) {
                    $.ajax({
                        type: 'POST',
                        url: operation,
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            $("#branch").val('');
                            $("#date").val('');
                            $("#sno").val('');
                            var content = '';
                            if ($('#individual_farmers').is(':checked')) {
                                content = generateHTML(response, filter);
                            }
                            if ($('#transporter_farmers').is(':checked')) {
                               content = generateTransHTML(response, filter);
                            }
                            printJS({
                                printable: content,
                                type: 'raw-html',
                                style: '.blueText {color:blue;}'
                            });
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                }
            });

            function getSupplier() {
                var sno = $('#sno').val();
                var branch = $("#branch").val();
                $.ajax(
                    {
                        type: 'GET',
                        url: `selectedDateIntake?sno=${sno}&branch=${branch}`,
                        contentType: 'application/json',
                        success: function (response) {
                            $("#name").val(response.supplier.Names);
                        },
                        failure: function (response) {
                        }
                    }).then(function () {

                    });
            }

            function generateHTML(response, filter) {
                var mevng = $('#mevng').val();
                var date = new Date(filter.date).toLocaleString('en-us', { month: 'short', year: 'numeric' });
                var supplierSummery = response.supplies.map(s => {
                    let transDate = new Date(s.date).toLocaleDateString();
                    return `<tr>
                                        <td>${transDate}</td>
                                        <td>${s.qnty}</td>
                                        <td>${s.price}</td>
                                        <td>${s.payable}</td>
                                    </tr>`;
                });

                var strSupplierSummery = supplierSummery.join('');
                var htmlSupplierSummery = `<table>
                            <thead>
                                <tr>
                                    <th> DATE </th>
                                    <th> QNTY </th>
                                    <th> PRICE </th>
                                    <th> PAYABLE </th>
                                </tr>
                            </thead>

                            <tbody>${strSupplierSummery}</tbody>
                           </table>`;

                // Deductions
                var deductionSummery = response.deductions.map(s => {
                    let transDate = new Date(s.TransDate).toLocaleDateString();
                    return `<tr>
                                                <td>${transDate}</td>
                                                <td>${s.DR}</td>
                                                <td>${s.Description}</td>
                                            </tr>`;
                });
                var strDeductionSummery = deductionSummery.join('');
                var htmlDeductionSummery = `<table>
                                    <thead>
                                        <tr>
                                            <th> DATE </th>
                                            <th> AMOUNT </th>
                                            <th> DESCRIPTION </th>
                                        </tr>
                                    </thead>

                                    <tbody>${strDeductionSummery}</tbody>
                                   </table>`;

                let htmlSaccoLoans = "";
                if (isSlopes){
                    let saccoLoans = response.saccoLoans.map(s => {
                        let transDate = new Date(s.date).toLocaleDateString();
                        return `<tr>
                                    <td>${s.LoanType}</td>
                                    <td>${s.Installments}</td>
                                    <td>(${s.Balance})</td>
                                </tr>`;
                    });

                    let strSaccoLoans = saccoLoans.join('');
                    htmlSaccoLoans = `
                            SACCO LOANS</br>
                            *************************</br>
                            <table>
                                <thead>
                                    <tr>
                                        <th> Loan Type </th>
                                        <th> AMOUNT </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>${strSaccoLoans}</tbody>
                            </table>`;
                }

                let bankDetails = "";
                if (!isSlopes){
                    bankDetails = `*************************</br>
                                    BANK DETAILS</br>
                                    *************************</br>
                                    Bank Name: ${response.supplier.Bcode}</br>
                                    Bank Branch: ${response.supplier.Bbranch}</br>
                                    Acc No.: ${response.supplier.AccNo}</br>`;
                }

                var content = `<div class="row" id="printMe">
                                        <div class="col-xs-12 text-center">
                                             <h4>
                                                ${response.company.Name}</br>
                                                Adress: ${response.company.Adress}</br>
                                                Tell: ${response.company.PhoneNo}</br>
                                                Town: ${response.company.Town}</br>
                                                Branch: ${filter.branch}</br>
                                                Detailed statement for ${date}
                                              </h4>
                                             <h5>
                                                *************************</br>
                                                Transporter: ${response.transporterName}</br>
                                                *************************</br>
                                                SNO: ${filter.code}</br>
                                                Name: ${filter.name}</br>
                                                *************************</br>
                                                ${htmlSupplierSummery}</br>
                                                *************************</br>
                                                Total Kgs: ${response.totalKgs}</br>
                                                Gross Pay Kshs: ${response.grossPay}</br>
                                                *************************</br>
                                                DEDUCTIONS</br>
                                                *************************</br>
                                                ${htmlDeductionSummery}</br>
                                                *************************</br>
                                                ${htmlSaccoLoans}</br>
                                                *************************</br>
                                                Total Deductions Kshs: ${response.totalDeductions}</br>
                                                *************************</br>
                                                Net Pay Kshs: ${response.netPay}</br>
                                                ${bankDetails}
                                                *************************</br>
                                                ${response.company.SupStatementNote}
                                            </h5>
                                            <h6>DEVELOP BY: AMTECH TECHNOLOGIES LIMITED </h6>
                                                **************************
                                            <hr>
                                        </div>
                                   </div>`;

                return content;
            }

            function generateTransHTML(response, filter) {
                response.company = response.company ? response.company : {};
                response.transporter = response.transporter ? response.transporter : {};
                var date = new Date(filter.date).toLocaleString('en-us', { month: 'short', year: 'numeric' });
                let content = "";
                response.transpoterIntakes.forEach(i => {
                    i.supplier = i.supplier ? i.supplier : {};
                    var supplierSummery = i.supplies.map(s => {
                        let transDate = new Date(s.TransDate).toLocaleDateString();
                        return `<tr>
                                    <td>${transDate}</td>
                                    <td></td>
                                    <td>${s.Id}</td>
                                    <td></td>
                                    <td>${s.Qsupplied}</td>
                                </tr>`;
                        });

                    let strSupplierSummery = supplierSummery.join('');
                    let htmlSupplierSummery = `<table>
                    <thead>
                        <tr>
                            <th> DATE </th>
                            <th></th>
                            <th> RCPT </th>
                            <th></th>
                            <th> KGS </th>
                        </tr>
                    </thead>

                    <tbody>${strSupplierSummery}</tbody>
                    </table>`;
                  
                    let transCode = isSlopes ? response.transporter.CertNo : response.transporter.TransCode;
                    let currentContent = `<div class="row" id="printMe">
                        <div class="col-xs-12 text-center">
                                <h5>
                                ${response.company.Name}</br>
                                Adress: ${response.company.Adress}</br>
                                Tell: ${response.company.PhoneNo}</br>
                                Town: ${response.company.Town}</br>
                                Branch: ${filter.branch}</br>
                                Detailed statement for ${date}
                                </h5>
                                <h6>
                                *************************</br>
                                Transporter: ${response.transporter.TransName} (${transCode})</br>
                                *************************</br>
                                Name: ${i.supplier.Names} (${i.supplier.Sno})</br>
                                *************************</br>
                                ${htmlSupplierSummery}</br>
                                *************************</br>
                                Total Kgs: ${i.qnty}</br>
                                *************************</br>
                            </h6>
                            <h6>DEVELOP BY: AMTECH TECHNOLOGIES LIMITED </h6>
                            **************************
                            <hr>
                            **************************
                        </div>
                    </div>`;

                    content = `${content}${currentContent}`;
                });
               
                return content;
            }
        });
    </script>
}

