<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <form asp-action="PrintSupPayslip">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                        <h2>Print Farmer Payslip</h2>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <input name="statement" type="radio" id="individual_farmers" />
                            <label class="control-label" for="individual_farmers">Individual Farmer</label>
                        </div>
                        
                        <div class="form-group">
                            <input name="statement" type="radio" id="bank_farmers" />
                            <label class="control-label" for="bank_farmers">By Bank</label>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">End Month Date</label>
                                    <input id="date" type="date" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="farmer_section">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Number</label>
                                    <input id="sno" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Name</label>
                                    <input id="name" readonly class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" id="bank_section">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Bank</label>
                                    <select id="bank" class="chzn-select form-control" asp-items="@ViewBag.bankNames" required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a id="print" class="btn btn-success">Print</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
            var today = new Date().toISOString().split('T')[0];
            $("#date").val(today);
            $('#sno').on('keyup', function () {
                getSupplier();
            });
            $("#individual_farmers").prop("checked", true);
            $("#bank_farmers").prop("checked", false);
            if ($('#individual_farmers').is(':checked')) {
                $('#farmer_section').show();
                $('#bank_section').hide();
            }
            if ($('#bank_farmers').is(':checked')) {
                $('#bank_section').show();
                $('#farmer_section').hide();
            }
            
            $('input[type=radio]').change(function () {
                if ($('#individual_farmers').is(':checked')) {
                    $('#farmer_section').show();
                    $('#bank_section').hide();
                }
                if ($('#bank_farmers').is(':checked')) {
                    $('#bank_section').show();
                    $('#farmer_section').hide();
                }
            });

            $('#print').on('click', function () {
                var date = $("#date").val();
                var name = $("#name").val();
                var code = $("#sno").val();
                var operation = "printSupPayslip";

                if ($('#individual_farmers').is(':checked')) {
                    code = $("#sno").val();
                    operation = "printSupPayslip";
                }
                    if ($('#bank_farmers').is(':checked')) {
                    code = $("#bank").val();
                    operation = "getBankFarmersPayslip";
                }

                var filter = {
                    date: date,
                    code: code,
                    name: name
                };

                if (code && date) {
                    $.ajax({
                        type: 'POST',
                        url: operation,
                        contentType: 'application/json',
                        data: JSON.stringify(filter),
                        success: function (response) {
                            $("#date").val('');
                            $("#sno").val('');
                            var content = '';
                            if ($('#individual_farmers').is(':checked')) {
                                content = generateHTML(response, filter);
                            }
                            if ($('#bank_farmers').is(':checked')) {
                                content = generateBanksHTML(response, filter);
                            }
                            printJS({
                                printable: content,
                                type: 'raw-html',
                                style: '.blueText {color:blue;}; #printMe { font-size: 11px; }'
                            });
                        },
                        failure: function (response) {
                        }
                    }).then(function () {
                        // ...
                    });
                }
            });
            // individual_farmers, bank_farmers, date, bank, sno, bank_section, farmer_section
            function getSupplier() {
                var sno = $('#sno').val();
                var branch = $("#branch").val();
                $.ajax(
                    {
                        type: 'GET',
                        url: `selectedDateIntake?sno=${sno}&branch=${branch}`,
                        contentType: 'application/json',
                        success: function (response) {
                            $("#name").val(response.supplier.Names);
                        },
                        failure: function (response) {
                        }
                    }).then(function () {

                    });
            }

            function generateHTML(response, filter) {
                let mevng = $('#mevng').val();
                response.supplier = response.supplier ? response.supplier : {};
                response.transporter = response.transporter ? response.transporter : {};
                let date = new Date(filter.date).toLocaleString('en-us', { month: 'short', year: 'numeric' });
                let saccoLoans = response.loans.map(l => {
                    return `<tr>
                                <td>${l.LoanCode}</td>
                                <td>${l.Amount}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>${l.Balance}</td>
                            </tr>`;
                });
                var strSaccoLoans = saccoLoans.join('');
                let saccoShares = response.shares.map(l => {
                    return `<tr>
                                        <td>${l.Remarks}</td>
                                        <td>${l.Paid}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>${l.Amount}</td>
                                    </tr>`;
                });
                var strSaccoShares = saccoShares.join('');
                let supPayslip = response.payrolls.map(s => {
                    //let transDate = new Date(s.date).toLocaleDateString('en-GB');
                    let totalPrice = s.Gpay - s.Subsidy;
                    let subsidyRaw = "";
                    if (s.Subsidy) {
                        subsidyRaw = `<tr>
                                        <td>SUBSIDY</td>
                                        <td>${s.KgsSupplied}</td>
                                        <td></td>
                                        <td>${response.price.SubsidyPrice}</td>
                                        <td></td>
                                        <td>${s.Subsidy}</td>
                                    </tr>`;
                    }
                    let advanceRaw = "";
                    if (s.Advance) {
                        advanceRaw = `<tr>
                                        <td>ADVANCE</td>
                                        <td>${s.Advance}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>`;
                    }
                    //let normalLoanRaw = "";
                    //if (s.Fsa) {
                    //    normalLoanRaw = ` <tr>
                    //                    <td>NORMAL LOAN</td>
                    //                    <td>${s.Fsa}</td>
                    //                    <td></td>
                    //                    <td></td>
                    //                    <td></td>
                    //                    <td></td>
                    //                </tr>`;
                    //}

                    return `<tr>
                                <td>KGs</td>
                                <td>${s.KgsSupplied}</td>
                                <td></td>
                                <td>${response.price.Price}</td>
                                <td></td>
                                <td>${totalPrice}</td>
                            </tr>
                            ${subsidyRaw}
                            <tr>
                                <td>TOTAL</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>${s.Gpay}</td>
                            </tr>
                            <tr>
                                <td>STORES</td>
                                <td>${s.Agrovet}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            ${advanceRaw}
                            ${strSaccoLoans}
                            <tr>
                                <td>SOCIETY SHARES</td>
                                <td>${s.SACCO_SAVINGS}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            ${strSaccoShares}
                            *************************</br>
                            <tr>
                                <td>TOTAL DED</td>
                                <td>${s.Tdeductions}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>NET PAY</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>${s.Npay}</td>
                            </tr>
                                    `;
                });

                var strSupPayslip = supPayslip.join('');
                var htmlSupPayslip = `<table>
                                    <thead>
                                        <tr> </tr>
                                    </thead>

                                    <tbody>${strSupPayslip}</tbody>
                                   </table>`;

                let curDate = new Date().toLocaleDateString('en-GB');
                var content = `<div class="row" id="printMe">
                                                <div class="col-xs-12 text-center">
                                                     <h4>
                                                        ${response.company.Name}</br>
                                                        Payment slip for ${date}
                                                      </h4>
                                                     <h5>
                                                        *************************</br>
                                                        DATE: ${curDate}</br>
                                                        SNO: ${filter.code}</br>
                                                        Name: ${response.supplier.Names}</br>
                                                        VEHICLE: ${response.transporter.CertNo}</br>
                                                        Bank: ${response.supplier.Bcode}</br>
                                                        ${htmlSupPayslip}</br>
                                                        *************************</br>
                                                    </h5>
                                                    <h6>DEVELOP BY: AMTECH TECHNOLOGIES LIMITED </h6>
                                                        **************************
                                                    <hr>
                                                </div>
                                           </div>`;

                return content;
            }

            function generateBanksHTML(response, filter) {
                response.company = response.company ? response.company : {};
                var date = new Date(filter.date).toLocaleString('en-us', { month: 'short', year: 'numeric' });
                let curDate = new Date().toLocaleDateString('en-GB');
                let content = "";
                response.banksPayslip.forEach(s => {
                    let totalPrice = s.Gpay - s.Subsidy;
                    content = `${content}<div class="row" id="printMe">
                        <div class="col-xs-12 text-center">
                            <h4>
                                ${response.company.Name}</br>
                                Payment slip for ${date}
                            </h4>
                            <h5>
                            *************************</br>
                            DATE: ${curDate}</br>
                            SNO: ${s.Sno}</br>
                            Name: ${s.Names}</br>
                            VEHICLE: ${s.CertNo}</br>
                            Bank: ${filter.code}</br>
                            <table>
                                <thead>
                                    <tr> </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>KGs</td>
                                        <td>${s.KgsSupplied}</td>
                                        <td></td>
                                        <td>${response.price.Price}</td>
                                        <td></td>
                                        <td>${totalPrice}</td>
                                    </tr>
                                    <tr>
                                        <td>SUBSIDY</td>
                                        <td>${s.KgsSupplied}</td>
                                        <td></td>
                                        <td>${response.price.SubsidyPrice}</td>
                                        <td></td>
                                        <td>${s.Subsidy}</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>${s.Gpay}</td>
                                    </tr>
                                    <tr>
                                        <td>STORES</td>
                                        <td>${s.Agrovet}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>ADVANCE</td>
                                        <td>${s.Advance}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>NORMAL LOAN</td>
                                        <td>${s.Fsa}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>SOCIETY SHARES</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>${s.SACCO_SAVINGS}</td>
                                    </tr>
                                    <tr>
                                        <td>SACCO SHARES</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>${s.SACCO_SHARES}</td>
                                    </tr>
                                    *************************</br>
                                    <tr>
                                        <td>TOTAL DED</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>${s.Tdeductions}</td>
                                    </tr>
                                    <tr>
                                        <td>NET PAY</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>${s.Npay}</td>
                                    </tr>
                                </tbody>
                                </table></br>
                                *************************</br>
                            </h5>
                            <h6>DEVELOP BY: AMTECH TECHNOLOGIES LIMITED </h6>
                                **************************
                            <hr>
                        </div>
                    </div> `;
                });

                return content;
            }
        });
    </script>
}

