@model EasyPro.ViewModels.ProductIntakeVm
@{
    ViewData["Title"] = "PrintSupplierStatement";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-element-list mg-t-30">
            <form asp-action="PrintSupplierStatement">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 cmp-tb-hd">
                        <h2>Print Supplier Statement</h2>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone1">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <label class="control-label">Zone</label>
                                <select id="zone" asp-for="Zone" class="form-control" asp-items="@ViewBag.zones">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Branch</label>
                                    <select id="branch" asp-for="Branch" class="form-control" asp-items="@ViewBag.Branch" required>
                                        <option value=""></option>
                                    </select>
                                    <span asp-validation-for="Branch" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">End Month Date</label>
                                    <input id="date" type="date" asp-for="TransDate" class="form-control" required />
                                    <span asp-validation-for="TransDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Suppler Number</label>
                                    <input id="sno" asp-for="Sno" class="form-control" required />
                                    <span asp-validation-for="Sno" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group ic-cmp-int float-lb floating-lb">
                            <div class="nk-int-st">
                                <div class="form-group">
                                    <label class="control-label">Farmer Name</label>
                                    <input id="name" readonly class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <button type="submit" class="btn btn-success">Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(function () {
            var checkiftoenable = @Html.Raw(Json.Serialize(ViewBag.checkiftoenable));
            if (checkiftoenable === 0) {
                $('#zone1').hide();
            }
            else {
                $('#zone1').show();
               
        }
        $('#sno').on('keyup', function () {
            getSelectedDateIntakes();
        });
        $('#zone').change(function () {
            getSelectedDateIntakes();
        });
        function getSelectedDateIntakes() {
            var zone = $("#zone").val();
            var sno = $("#sno").val().toUpperCase();
            $.ajax(
                {
                    type: 'GET',
                    url: "SelectedName?zone=" + zone + "&sno=" + sno,
                    contentType: 'application/json',
                    success: function (response) {
                        $("#name").val(response);
                    },
                    failure: function (response) {
                    }
                }).then(function () {

                });
        }
        });
    </script>
}
