<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyPro</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css">
    <!-- meanmenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/notika-custom-icon.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/wave/waves.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#"><img src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
                            <li class="nav-item dropdown">

                            </li>
                            <li class="nav-item nc-al">

                            </li>
                            <li class="nav-item">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a href="index.html">Dashboard One</a></li>
                                        <li><a href="widgets.html">Widgets</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#demo" href="#">Forms</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="form-elements.html">Form Elements</a></li>
                                        <li><a href="form-components.html">Form Components</a></li>
                                        <li><a href="form-examples.html">Form Examples</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li>
                            <a data-toggle="tab" href="#file"><i class="notika-icon notika-form"></i>File</a>
                        </li>
                        <li class="active">
                            <a data-toggle="tab" href="#registration"><i class="notika-icon notika-house"></i>Registration</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#deductions"><i class="notika-icon notika-house"></i>Deductions</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#activities"><i class="notika-icon notika-form"></i>Activities</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#setup"><i class="notika-icon notika-form"></i>Setup</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="registration" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a asp-controller="DSuppliers" asp-action="Index">Farmer</a>
                                </li>
                                <li>
                                    <a asp-controller="DTransporters" asp-action="Index">Transporter</a>
                                </li>
                                <li>
                                    <a asp-controller="DDcodes" asp-action="Index">Deduction</a>
                                </li>
                                <li>
                                    <a asp-controller="DBanks" asp-action="Index">Banks</a>
                                </li>
                                <li>
                                    <a asp-controller="DBankBranches" asp-action="Index">Bank Branch</a>
                                </li>

                            </ul>
                        </div>
                        <div id="file" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a asp-controller="SupplierEnquiry" asp-action="Index">Supplier Enquiry</a>
                                </li>
                            </ul>
                        </div>
                        <div id="deductions" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a asp-controller="ProductIntakes" asp-action="DeductionList">Farmer</a>
                                </li>
                                <li>
                                    <a asp-controller="DTransportDeducs" asp-action="Index">Transporter</a>
                                </li>
                                <li>
                                    <a asp-controller="DTransports" asp-action="Index">Transporter Assignement</a>
                                </li>
                            </ul>
                        </div>
                        <div id="activities" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a asp-controller="ProductIntakes" asp-action="Index">Product Intake</a>
                                </li>
                                <li>
                                    <a asp-controller="ProductIntakes" asp-action="CorrectionList">Intake Correction</a>
                                </li>
                                <li>
                                    <a asp-controller="DPayrolls" asp-action="Index">Payroll</a>
                                </li>
                            </ul>
                        </div>
                        <div id="setup" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a asp-controller="DBranchProducts" asp-action="Index">Add Product</a>
                                </li>
                                <li>
                                    <a asp-controller="DPrices" asp-action="Index">Pricing</a>
                                </li>
                                <li>
                                    <a asp-controller="DCompanies" asp-action="Index">Company Setup</a>
                                </li>
                                <li>
                                    <a asp-controller="DBranches" asp-action="Index">Company Branch</a>
                                </li>
                                <li>
                                    <a asp-controller="UserAccounts" asp-action="Index">Users</a>
                                </li>
                                <li>
                                    <a asp-controller="Usergroups" asp-action="Index">User Groups</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->

    <div class="normal-table-area">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>
                            Copyright © 2022
                            . All rights reserved by <a href="https://amtechafrica.com/">Amtech Softwares</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Footer area-->
    <!-- jquery
        ============================================ -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/assets/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/assets/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/assets/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/assets/js/counterup/waypoints.min.js"></script>
    <script src="~/assets/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="~/assets/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/assets/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/assets/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/assets/js/flot/jquery.flot.js"></script>
    <script src="~/assets/js/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/js/flot/curvedLines.js"></script>
    <script src="~/assets/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="~/assets/js/knob/jquery.knob.js"></script>
    <script src="~/assets/js/knob/jquery.appear.js"></script>
    <script src="~/assets/js/knob/knob-active.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="~/assets/js/wave/waves.min.js"></script>
    <script src="~/assets/js/wave/wave-active.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="~/assets/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/assets/js/plugins.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="~/assets/js/chat/moment.min.js"></script>
    <script src="~/assets/js/chat/jquery.chat.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/assets/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="~/assets/js/tawk-chat.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
