@model EasyPro.Models.Coffee.Milling

@{
    ViewData["Title"] = "Create";
   
}


<div class="row">
    
        <div class="form-element-list mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Milling</h2>
            </div>
            <hr />
            <form asp-action="Create">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input type="date" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Factory" class="control-label"></label>
                        <select id="glAcc" asp-for="Factory" class="form-control" asp-items="@ViewBag.Factory">
                            <option value="" disabled selected hidden> Select Factory</option>
                        </select>
                        <span asp-validation-for="Factory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select id="glAcc" asp-for="Category" class="form-control" asp-items="@ViewBag.Category">
                            <option value="" disabled selected hidden> Select Category</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label asp-for="Miller" class="control-label"></label>
                        <select id="glAcc" asp-for="Miller" class="form-control" asp-items="@ViewBag.Miller">
                            <option value="" disabled selected hidden> Select Category</option>
                        </select>
                        <span asp-validation-for="Miller" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kgs" class="control-label"></label>
                        <input asp-for="Kgs" class="form-control" />
                        <span asp-validation-for="Kgs" class="text-danger"></span>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a asp-action="Index" class="btn btn-primary">Back to List</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>


